In [1]:
import pandas as pd
import numpy as np
import scipy.sparse as sp
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import Imputer

plt.style.use("seaborn")
%matplotlib inline

#%load_ext autotime

In [2]:
df= pd.read_csv("us-perm-visas.zip")
# df.head()

/Users/mayamadhavan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,16,17,20,21,22,25,26,27,28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,44,45,47,48,49,50,51,52,53,55,56,57,58,59,60,61,63,64,65,66,68,69,70,71,72,73,74,77,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,100,101,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,153) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_feat=df[['class_of_admission','country_of_citizenship',
            'country_of_citzenship','case_status', 'employer_state','foreign_worker_info_city',
            'foreign_worker_info_education','foreign_worker_info_education_other','foreign_worker_info_major',
           'application_type', 'fw_info_birth_country', 'job_info_alt_occ_job_title','job_info_education',
            'orig_file_date','wage_offer_from_9089','employer_name']]
# df_feat.head()

In [4]:
# df_feat.isnull().sum()

In [5]:
df_feat.country_of_citizenship.fillna(df_feat.country_of_citzenship, inplace=True)
df_feat=df_feat.drop('country_of_citzenship', axis=1)
# df_feat.head()

/Users/mayamadhavan/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [6]:
df_feat.isnull().sum()

class_of_admission                      22845
country_of_citizenship                     59
case_status                                 0
employer_state                             42
foreign_worker_info_city               135297
foreign_worker_info_education          135309
foreign_worker_info_education_other    370422
foreign_worker_info_major              154972
application_type                       239093
fw_info_birth_country                  223928
job_info_alt_occ_job_title             226962
job_info_education                     135282
orig_file_date                         374081
wage_offer_from_9089                   114771
employer_name                              12
dtype: int64

In [7]:
df_feat.foreign_worker_info_education.fillna(df_feat.job_info_education, inplace=True)
df_feat=df_feat.drop('job_info_education', axis=1)
df_feat.isnull().sum()

class_of_admission                      22845
country_of_citizenship                     59
case_status                                 0
employer_state                             42
foreign_worker_info_city               135297
foreign_worker_info_education          135270
foreign_worker_info_education_other    370422
foreign_worker_info_major              154972
application_type                       239093
fw_info_birth_country                  223928
job_info_alt_occ_job_title             226962
orig_file_date                         374081
wage_offer_from_9089                   114771
employer_name                              12
dtype: int64

In [8]:
# df_feat[["foreign_worker_info_education","foreign_worker_info_education_other"]]

In [9]:
# sorted(pd.Series(df_feat.foreign_worker_info_education_other.unique()).dropna())

In [10]:
# df_feat.foreign_worker_info_education.value_counts()

In [11]:
# pipeline= [("imputer", Imputer(missing_values=0,
#                                           strategy="mean",
#                                           axis=0)),
#                       ("forest", RandomForestRegressor(random_state=0,
#                                                        n_estimators=100))])




impute=Imputer(missing_values="Nan",strategy="mean", axis=0)
df_feat2= impute.fit_transform(df_feat[])

SyntaxError: invalid syntax (<ipython-input-11-06fcd46d19b4>, line 11)

class_of_admission-22845

In [ ]:
# age_fill_series = X_train.groupby(['Sex','Pclass']).Age.median().reset_index()

In [ ]:
df_feat.class_of_admission.unique()

country_of_citizenship

In [ ]:
df_feat.country_of_citizenship.unique()

case_status- **Y VARIABLE**

In [ ]:
df_feat.case_status.unique()

employer_state

In [ ]:
df_feat.employer_state.unique()

foreign_worker_info_city

In [ ]:
df_feat.foreign_worker_info_city.unique()

foreign_worker_info_education

In [ ]:
df_feat.foreign_worker_info_education.unique()

foreign_worker_info_education_other

In [ ]:
df_feat.foreign_worker_info_education_other.unique()

foreign_worker_info_major

In [ ]:
df_feat.foreign_worker_info_major.unique()

application_type

In [ ]:
df_feat.application_type.unique()

fw_info_birth_country

In [ ]:
df_feat.fw_info_birth_country.unique()

job_info_alt_occ_job_title

In [ ]:
df_feat.job_info_alt_occ_job_title.unique()

orig_file_date

In [ ]:
df_feat.orig_file_date.unique()

wage_offer_from_9089

In [12]:
df_feat.wage_offer_from_9089.unique()

array([75629.0, 37024.0, 47923.0, ..., '65,610.00', '109,845.00',
       '142,938.00'], dtype=object)

employer_name

In [13]:
df_feat.employer_name.unique()

array(['NETSOFT USA INC.', 'PINNACLE ENVIRONEMNTAL CORP',
       'SCHNABEL ENGINEERING, INC.', ...,
       'UNION DENTAL GROUP ANAHEIM, INC.', 'AMPHION GLOBAL INC',
       'Zen Sushi, Inc'], dtype=object)

In [ ]:
df_cat=pd.get_dummies(df_feat)

In [ ]:
df_cat.head()