# Importation Station

In [2]:
import pandas as pd
import numpy as np
import scipy.sparse as sp
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
from sklearn.cross_validation import train_test_split

plt.style.use("seaborn")
%matplotlib inline

%load_ext autotime

/Users/mayamadhavan/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Make DataFrame and Extract Features

## Read Initial Data

In [3]:
# df= pd.read_csv("us-perm-visas.zip")
# df.head()

time: 905 µs

## Extract Features of Interest

In [4]:
# df_feat=df[['class_of_admission','country_of_citizenship',
#             'country_of_citzenship','case_status', 'employer_state','foreign_worker_info_city',
#             'foreign_worker_info_education','foreign_worker_info_major',
#            'application_type', 'fw_info_birth_country', 'job_info_alt_occ_job_title','job_info_education',
#             'wage_offer_from_9089']]
# df_feat.head()
# del df

time: 1.39 ms

# Pickle and Store Features of Interest into CSV

In [5]:
# with open('visa.pkl', 'wb') as picklefile:
#              pickle.dump(df_feat, picklefile)

time: 680 µs

In [6]:
# with open("visa.pkl", 'rb') as picklefile: 
#       df = pickle.load(picklefile)
# df.to_csv('visa.csv')
# df.head()

time: 560 µs

# Read Pre-Made CSV File

In [7]:
df=pd.read_csv('visa.csv')
del(df['Unnamed: 0'])
df.head()

/Users/mayamadhavan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,class_of_admission,country_of_citizenship,country_of_citzenship,case_status,employer_state,foreign_worker_info_city,foreign_worker_info_education,foreign_worker_info_major,application_type,fw_info_birth_country,job_info_alt_occ_job_title,job_info_education,wage_offer_from_9089
0,J-1,NaN,ARMENIA,Certified,NY,NaN,NaN,NaN,PERM,NaN,NaN,NaN,75629
1,B-2,NaN,POLAND,Denied,NY,NaN,NaN,NaN,PERM,NaN,NaN,NaN,37024
2,H-1B,NaN,INDIA,Certified,VA,NaN,NaN,NaN,PERM,NaN,NaN,NaN,47923
3,B-2,NaN,SOUTH KOREA,Certified,NY,NaN,NaN,NaN,PERM,NaN,NaN,NaN,10.97
4,L-1,NaN,CANADA,Certified,NY,NaN,NaN,NaN,PERM,NaN,NaN,NaN,100000

time: 1.74 s

# Begin Data Cleaning

## Combine Repeated Columns- Not Specific to Train/Test

In [8]:
df.isnull().sum()

class_of_admission                22845
country_of_citizenship            20633
country_of_citzenship            353788
case_status                           0
employer_state                       42
foreign_worker_info_city         135297
foreign_worker_info_education    135309
foreign_worker_info_major        154972
application_type                 239093
fw_info_birth_country            223928
job_info_alt_occ_job_title       226962
job_info_education               135282
wage_offer_from_9089             114771
dtype: int64

time: 238 ms

In [9]:
df.country_of_citizenship.fillna(df.country_of_citzenship, inplace=True)
df=df.drop('country_of_citzenship', axis=1)
df.isnull().sum()

class_of_admission                22845
country_of_citizenship               59
case_status                           0
employer_state                       42
foreign_worker_info_city         135297
foreign_worker_info_education    135309
foreign_worker_info_major        154972
application_type                 239093
fw_info_birth_country            223928
job_info_alt_occ_job_title       226962
job_info_education               135282
wage_offer_from_9089             114771
dtype: int64

time: 287 ms

In [10]:
df.foreign_worker_info_education.fillna(df.job_info_education, inplace=True)
df=df.drop('job_info_education', axis=1)
df.isnull().sum()

class_of_admission                22845
country_of_citizenship               59
case_status                           0
employer_state                       42
foreign_worker_info_city         135297
foreign_worker_info_education    135270
foreign_worker_info_major        154972
application_type                 239093
fw_info_birth_country            223928
job_info_alt_occ_job_title       226962
wage_offer_from_9089             114771
dtype: int64

time: 292 ms

## Split into Train and Test Sets

In [11]:
# X=df.drop(['case_status'],axis=1)
# y = df['case_status']

time: 571 µs

In [12]:
# df_train, df_test= train_test_split(X,y,test_size=0.3)

time: 832 µs

## Fill Na's in Train Set
**Idea:**
1. Ignore Target Variable When Filling NA's
2. Fill in Test set With Train Values to Accurately Check Models

**Structure for Each Variable:**
1. Read Values Counts
2. Fill in As Needed

In [13]:
# def impute(X_col):
#     merged_frame = pd.merge(X_col, age_fill_series, how='left', 
#                              left_on=['Sex', 'Pclass'], 
#                              right_on=['Sex', 'Pclass'])

#     merged_frame.rename(columns={'Age_x': 'Age', 'Age_y': 'median_age'}, inplace=True)
#     merged_frame.Age.fillna(merged_frame.median_age, inplace=True)
#     merged_frame.drop(['median_age'], axis=1, inplace=True)
#     return merged_frame

# X_train_imputed = impute_age(X_train)
# X_test_imputed = impute_age(X_test)

# X_train_imputed.head()

time: 919 µs

In [14]:
def mode(a):
    u, c = np.unique(a, return_counts=True)
    return u[c.argmax()]

time: 1.52 ms

### Country of Citizenship= Fill using the mode by education level

In [15]:
df.country_of_citizenship.value_counts()

INDIA                       205158
CHINA                        28861
SOUTH KOREA                  24761
CANADA                       14804
MEXICO                        8961
PHILIPPINES                   8631
UNITED KINGDOM                4972
TAIWAN                        4173
PAKISTAN                      3962
FRANCE                        3173
NEPAL                         3047
JAPAN                         2970
BRAZIL                        2919
VENEZUELA                     2738
TURKEY                        2551
RUSSIA                        2524
GERMANY                       2364
IRAN                          2356
VIETNAM                       2290
ITALY                         1948
ISRAEL                        1914
COLOMBIA                      1843
AUSTRALIA                     1696
UKRAINE                       1502
SPAIN                         1447
POLAND                        1424
ARGENTINA                     1189
NIGERIA                       1147
BANGLADESH                    1098
MALAYSIA                      1059
                             ...
NORTH KOREA                      4
MOZAMBIQUE                       3
BRUNEI                           3
TURKS AND CAICOS ISLANDS         3
VANUATU                          3
SEYCHELLES                       3
GUINEA-BISSAU                    3
CAYMAN ISLANDS                   3
CENTRAL AFRICAN REPUBLIC         2
BRITISH VIRGIN ISLANDS           2
REPUBLIC OF CONGO                2
SAO TOME AND PRINCIPE            2
CAPE VERDE                       2
SOUTH SUDAN                      2
SINT MAARTEN                     1
SOMALIA                          1
COMOROS                          1
SAMOA                            1
ARUBA                            1
EQUATORIAL GUINEA                1
ANDORRA                          1
QATAR                            1
NETHERLANDS ANTILLES             1
KIRIBATI                         1
PAPUA NEW GUINEA                 1
SOVIET UNION                     1
CUBA                             1
LIECHTENSTEIN                    1
CHAD                             1
MONACO                           1
Name: country_of_citizenship, Length: 202, dtype: int64

time: 69.7 ms

In [16]:
df.country_of_citizenship.fillna('')

0              ARMENIA
1               POLAND
2                INDIA
3          SOUTH KOREA
4               CANADA
5              ECUADOR
6               MEXICO
7               CANADA
8               CANADA
9             PAKISTAN
10               INDIA
11           SINGAPORE
12              RUSSIA
13               INDIA
14              MEXICO
15             ECUADOR
16               INDIA
17              CANADA
18              MEXICO
19              POLAND
20           VENEZUELA
21               JAPAN
22        SOUTH AFRICA
23              MEXICO
24               CHINA
25              RUSSIA
26              MEXICO
27              MEXICO
28               INDIA
29               INDIA
              ...
374332           CHINA
374333            IRAN
374334    TURKMENISTAN
374335           INDIA
374336           CHINA
374337          MEXICO
374338          MEXICO
374339           INDIA
374340           INDIA
374341           ITALY
374342         GERMANY
374343         VIETNAM
374344           CHINA
374345           INDIA
374346           INDIA
374347           INDIA
374348           INDIA
374349           INDIA
374350           INDIA
374351           INDIA
374352           INDIA
374353           INDIA
374354           INDIA
374355           JAPAN
374356           CHINA
374357     SOUTH KOREA
374358         VIETNAM
374359           INDIA
374360     SOUTH KOREA
374361           CHINA
Name: country_of_citizenship, Length: 374362, dtype: object

time: 37.1 ms

In [17]:
# country_fill_series = df.groupby(['foreign_worker_info_education']).country_of_citizenship.fillna('').apply(mode)

time: 2.48 ms

In [18]:
country_fill_series = df[~df['country_of_citizenship'].isnull()].groupby(['foreign_worker_info_education']).country_of_citizenship.apply(mode)

time: 278 ms

In [19]:
df.country_of_citizenship.value_counts().head(1)

INDIA    205158
Name: country_of_citizenship, dtype: int64

time: 60.8 ms

### Destination State= Fill using overall mode

In [20]:
df.employer_state.unique()

array(['NY', 'VA', 'FL', 'DE', 'MD', 'NJ', 'GA', 'IL', 'TX', 'KY', 'WY',
       'OH', 'MS', 'MA', 'NC', 'CA', 'MO', 'CT', 'AZ', 'WI', 'PA', 'WA',
       'CO', 'MN', 'NV', 'UT', 'AL', 'OK', 'LA', 'RI', 'DC', 'OR', 'MI',
       'IA', 'NH', 'IN', 'SD', nan, 'NE', 'KS', 'TN', 'PR', 'AR', 'GU',
       'WV', 'SC', 'ID', 'VI', 'ND', 'HI', 'VT', 'ME', 'NM', 'MP', 'AK',
       'MT', 'GEORGIA', 'NEW YORK', 'TEXAS', 'CALIFORNIA', 'WASHINGTON',
       'NEW JERSEY', 'ARIZONA', 'NORTH CAROLINA', 'WISCONSIN',
       'LOUISIANA', 'MAINE', 'OHIO', 'MARYLAND', 'MASSACHUSETTS',
       'MICHIGAN', 'ILLINOIS', 'PENNSYLVANIA', 'VERMONT', 'VIRGINIA',
       'FLORIDA', 'MISSOURI', 'ARKANSAS', 'NEW HAMPSHIRE', 'INDIANA',
       'OKLAHOMA', 'UTAH', 'CONNECTICUT', 'SOUTH DAKOTA', 'DELAWARE',
       'ALABAMA', 'WEST VIRGINIA', 'NEBRASKA', 'OREGON', 'COLORADO',
       'RHODE ISLAND', 'KANSAS', 'ALASKA', 'DISTRICT OF COLUMBIA',
       'MINNESOTA', 'TENNESSEE', 'KENTUCKY', 'GUAM', 'IOWA', 'NEW MEXICO',
       'NORTH DAKOTA', 'NEVADA', 'MISSISSIPPI', 'IDAHO', 'PUERTO RICO',
       'SOUTH CAROLINA', 'VIRGIN ISLANDS', 'MONTANA', 'HAWAII', 'WYOMING',
       'NORTHERN MARIANA ISLANDS', 'MARSHALL ISLANDS', 'BRITISH COLUMBIA',
       'BC'], dtype=object)

time: 49.2 ms

In [35]:
state_fill_series = df[~df['employer_state'].isnull()].employer_state.apply(mode)

time: 9.42 s

In [34]:
df['employer_state'].mode()

0    CALIFORNIA
dtype: object

time: 32.2 ms

### Origin City= Fill using mode of given country

In [ ]:
df.foreign_worker_info_city.unique()

In [ ]:
origin_city_fill_series = df[~df['foreign_worker_info_city'].isnull()].country_of_citizenship.apply(mode)

### Education Level= Fill using Country and Visa Type

In [ ]:
df.foreign_worker_info_education.unique()

### Major= Fill with mode of visa type / country of origin / education / destination

In [ ]:
df.foreign_worker_info_major.value_counts()

### Birth Country= Fill with country of citizenship

In [ ]:
df.fw_info_birth_country.unique()

### Job Title= Fill with country of citizenship
narrow in

In [ ]:
df.job_info_alt_occ_job_title.unique()

### Wage Offered= Fill with mean by job title and state

In [ ]:
df.wage_offer_from_9089.unique()

### Visa Type (Class of Admission)

In [ ]:
# age_fill_series = X_train.groupby(['Sex','Pclass']).Age.median().reset_index()

In [ ]:
df.class_of_admission.unique()

### Application Filing Info (Application Type)

In [ ]:
df.application_type.unique()

# Dummify Variables

In [ ]:
df=pd.get_dummies(df_feat)

In [ ]:
df.head()