In [1]:
import pandas as pd
import numpy as np

# Read Table

In [2]:
main_df=pd.read_csv('final_df_unclean.csv')
main_df=main_df.drop('Unnamed: 0', 1)
main_df=main_df.drop(['name.1', 'name.2', 'name.3', 'name.4'], 1)
main_df.head()

/Users/mayamadhavan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (668) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,index,id,ope8_id,ope6_id,name,city,state,zip,accreditor,school_url,...,In-state,Undergrad Enrollment,univ.1,index.4,City,Conference,Nickname,State,division,ncaa_rated
0,0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,...,NaN,NaN,NaN,758.0,Birmingham,Conference USA,Blazers,Alabama,D1,ncaa
2,3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,...,NaN,NaN,NaN,3.0,Huntsville,Gulf South Conference,Chargers,Alabama,D2,ncaa
3,4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,...,NaN,NaN,NaN,759.0,Montgomery,Southwestern Athletic Conference,Hornets and Lady Hornets,Alabama,D1,ncaa
4,5,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,35487-0166,Southern Association of Colleges and Schools C...,www.ua.edu/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
len(main_df)

1680

# Drop Rows= Move to SQL

## Dropping Associates Degrees and School with Open Admissions Policy
1. Community Colleges
2. Schools that offer Associates Degrees
3. Technical Schools

In [4]:
main_df=main_df[main_df['carnegie_basic']>=15]

In [5]:
main_df=main_df[main_df['carnegie_basic']<=23]

In [6]:
main_df=main_df[main_df['open_admissions_policy']!=1]

In [7]:
main_df=main_df[main_df['open_admissions_policy']!=3]

In [8]:
len(main_df)

1443

# Clean Columns of Interest Imputing with Overall Data

## Functions for Imputing

In [9]:
def impute(df, series, col_name, merge_cols):
    merged_frame = pd.merge(df, series, how='left', 
                             left_on=merge_cols, 
                             right_on=merge_cols)
    merged_frame[col_name+'_x'].fillna(merged_frame[col_name+'_y'],inplace=True)
    merged_frame.rename(columns={col_name+'_x':col_name}, inplace=True)
    merged_frame.drop([col_name+'_y'], axis=1, inplace=True)
    return merged_frame

def mode(a):
    u, c = np.unique(a, return_counts=True)
    return u[c.argmax()]

## Get Columns of Interest

In [10]:
def drop_columns(df=main_df):
    
    names=[]
    for column in list(main_df.columns):
        if 'net_price' in column or 'act_scores.midpoint' in column or 'sat_scores.average' in column or 'program_precentage' in column  or 'name' in column  or 'minority_serving.historically_black' in column or 'location' in column or 'demographics' in column:
            names.append(column)

            
    names.remove('avg_net_price.public')
    names.remove('avg_net_price.private')
    names.remove('demographics.age_entry')
    names.remove('demographics.female_share')
    names.remove('demographics.married')
    names.remove('demographics.dependent')
    names.remove('demographics.veteran')
    names.remove('demographics.first_generation')
    names.remove('demographics.avg_family_income')
    names.remove('demographics.median_family_income')
    names.remove('demographics.avg_family_income_independents')
    names.remove('demographics.race_ethnicity.hispanic')
    names.remove('demographics.race_ethnicity.asian')
    names.remove('demographics.race_ethnicity.aian')
    names.remove('demographics.race_ethnicity.nhpi')
    names.remove('demographics.race_ethnicity.two_or_more')
    names.remove('demographics.race_ethnicity.non_resident_alien')
    names.remove('demographics.race_ethnicity.unknown')
    names.remove('demographics.race_ethnicity.black')
    names.remove('act_scores.midpoint.english')
    names.remove('act_scores.midpoint.math')
    names.remove('act_scores.midpoint.writing')
    names.remove('sat_scores.average.by_ope_id')
    names.remove('demographics.men')
    names.remove('net_price.public.by_income_level.0-48000')
    names.remove('net_price.public.by_income_level.30001-75000')
    names.remove('net_price.public.by_income_level.75000-plus')
    names.remove('net_price.private.by_income_level.0-48000')
    names.remove('net_price.private.by_income_level.30001-75000')
    names.remove('net_price.private.by_income_level.75000-plus')
    
    if 'net_price_above_110001' in names:
        names.remove('net_price.public.by_income_level.0-30000')
        names.remove('net_price.public.by_income_level.30001-48000')
        names.remove('net_price.public.by_income_level.48001-75000')
        names.remove('net_price.public.by_income_level.75001-110000')
        names.remove('net_price.public.by_income_level.110001-plus')
    
    
    names.append('locale')
    names.append('admission_rate.overall')
    names.append('size')
    names.append('early_pay')
    names.append('ownership')
    names.append('percent_stem')
    names.append('rank_lac')
    names.append('Rank')
    names.append('Description')
    names.append('division')
    names.append('name')
    
    reduced_main_df=main_df[names]
    reduced_main_df=reduced_main_df.drop('Nickname', 1)
    column_names = reduced_main_df.columns.values
    column_names[-1] = 'drop'
    reduced_main_df.columns = column_names
    reduced_main_df=reduced_main_df.drop('drop', 1)
    
    return reduced_main_df

## Checking Number of Nulls In Columns of Interest
Using column dropping schema in next cells

In [11]:
reduced_main_df=drop_columns()

In [12]:
reduced_main_df.isnull().sum()

name                                                 0
location.lat                                         0
location.lon                                         0
minority_serving.historically_black                  0
act_scores.midpoint.cumulative                     338
sat_scores.average.overall                         302
demographics.race_ethnicity.white                   10
net_price.public.by_income_level.0-30000           923
net_price.public.by_income_level.30001-48000       924
net_price.public.by_income_level.48001-75000       924
net_price.public.by_income_level.75001-110000      928
net_price.public.by_income_level.110001-plus       941
net_price.private.by_income_level.0-30000          554
net_price.private.by_income_level.30001-48000      559
net_price.private.by_income_level.48001-75000      559
net_price.private.by_income_level.75001-110000     577
net_price.private.by_income_level.110001-plus      592
demographics.women                                  10
locale                                               0
admission_rate.overall                              33
size                                                10
early_pay                                          170
ownership                                            0
percent_stem                                       170
rank_lac                                          1288
Rank                                              1302
Description                                       1302
division                                           656
dtype: int64

## Dropping Grad Schools

In [13]:
main_df=main_df[main_df['demographics.women'].notnull()]

## Rank and Rank LAC- Set Unranked to 0

In [14]:
main_df.rank_lac.fillna(0, inplace=True)
main_df.Rank.fillna(0, inplace=True)

/Users/mayamadhavan/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

## Division- Set Non-NCAA to "Not NCAA"

In [15]:
main_df.division.fillna('non_ncaa', inplace=True)

/Users/mayamadhavan/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

## Admission Rate

In [16]:
admission = main_df[~main_df['admission_rate.overall'].isnull()].groupby(['Rank','rank_lac']
                                                                                 )['admission_rate.overall'].apply(mode).reset_index()

In [17]:
main_df = impute(main_df, admission, 'admission_rate.overall', ['Rank','rank_lac'])

## SAT Scores

In [18]:
sat = main_df[~main_df['sat_scores.average.overall'].isnull()].groupby(['admission_rate.overall'])['sat_scores.average.overall'].apply(mode
                                                                                                                      ).reset_index()

In [19]:
main_df = impute(main_df, sat, 'sat_scores.average.overall', ['admission_rate.overall'])

## ACT Score

In [20]:
act = main_df[~main_df['act_scores.midpoint.cumulative'].isnull()].groupby(['sat_scores.average.overall',
                                                                            'admission_rate.overall']
                                                                                 )['act_scores.midpoint.cumulative'].apply(mode).reset_index()

In [21]:
main_df = impute(main_df, act, 'act_scores.midpoint.cumulative', ['sat_scores.average.overall',
                                                                                   'admission_rate.overall'])

## Size

In [22]:
size = main_df[~main_df['size'].isnull()].groupby(['carnegie_size_setting']
                                                  )['size'].apply(mode).reset_index()

In [23]:
main_df = impute(main_df, size, 'size', ['carnegie_size_setting'])

## Percent Stem

In [24]:
stem = main_df[~main_df['percent_stem'].isnull()].groupby(['program_percentage.humanities',
                                                           'program_percentage.social_science']
                                                  )['percent_stem'].apply(mode).reset_index()

In [25]:
main_df = impute(main_df, stem, 'percent_stem', ['program_percentage.humanities',
                                                 'program_percentage.social_science'])

In [26]:
stem = main_df[~main_df['percent_stem'].isnull()].groupby(['program_percentage.science_technology']
                                                  )['percent_stem'].apply(mode).reset_index()

In [27]:
main_df = impute(main_df, stem, 'percent_stem', ['program_percentage.science_technology'])

## Early Pay

In [28]:
pay = main_df[~main_df['early_pay'].isnull()].groupby(['percent_stem']
                                                  )['early_pay'].apply(mode).reset_index()

In [29]:
main_df = impute(main_df, pay, 'early_pay', ['percent_stem'])

## Description

In [30]:
main_df.Description.fillna(main_df.school_info, inplace=True)

## Net Price

In [31]:
main_df['net_price.private.by_income_level.0-30000'].fillna(main_df['net_price.public.by_income_level.0-30000'], inplace=True)
main_df['net_price.private.by_income_level.30001-48000'].fillna(main_df['net_price.public.by_income_level.30001-48000'], inplace=True)
main_df['net_price.private.by_income_level.48001-75000'].fillna(main_df['net_price.public.by_income_level.48001-75000'], inplace=True)
main_df['net_price.private.by_income_level.75001-110000'].fillna(main_df['net_price.public.by_income_level.75001-110000'], inplace=True)
main_df['net_price.private.by_income_level.110001-plus'].fillna(main_df['net_price.public.by_income_level.110001-plus'], inplace=True)

In [32]:
main_df=main_df.rename(columns={'net_price.private.by_income_level.0-30000':'net_price_less_30000', 
                       'net_price.private.by_income_level.30001-48000':'net_price_30001_48000',
                       'net_price.private.by_income_level.48001-75000':'net_price_48001_75000',
                       'net_price.private.by_income_level.75001-110000':'net_price_75001_110000',
                       'net_price.private.by_income_level.110001-plus':'net_price_above_110001'})

# Final Drop + Null Checking

Chose to do this in pandas as opposed to SQL in case I'd want to return and add a column.

In [33]:
reduced_main_df=drop_columns()
reduced_main_df.isnull().sum()

name                                     0
location.lat                             0
location.lon                             0
minority_serving.historically_black      0
act_scores.midpoint.cumulative         256
sat_scores.average.overall             219
demographics.race_ethnicity.white        0
net_price_less_30000                    24
net_price_30001_48000                   30
net_price_48001_75000                   30
net_price_75001_110000                  52
net_price_above_110001                  80
demographics.women                       0
locale                                   0
admission_rate.overall                   0
size                                     0
early_pay                                1
ownership                                0
percent_stem                             1
rank_lac                                 0
Rank                                     0
Description                            161
division                                 0
dtype: int64

In [34]:
reduced_main_df[reduced_main_df['act_scores.midpoint.cumulative'].notnull()].isnull().sum()

name                                    0
location.lat                            0
location.lon                            0
minority_serving.historically_black     0
act_scores.midpoint.cumulative          0
sat_scores.average.overall              0
demographics.race_ethnicity.white       0
net_price_less_30000                   22
net_price_30001_48000                  28
net_price_48001_75000                  26
net_price_75001_110000                 35
net_price_above_110001                 43
demographics.women                      0
locale                                  0
admission_rate.overall                  0
size                                    0
early_pay                               0
ownership                               0
percent_stem                            0
rank_lac                                0
Rank                                    0
Description                            97
division                                0
dtype: int64

In [35]:
reduced_main_df=reduced_main_df[reduced_main_df['act_scores.midpoint.cumulative'].notnull()]

In [36]:
len(reduced_main_df)

1177

# All Good= Read into Final CSV

In [37]:
reduced_main_df.isnull().sum()

name                                    0
location.lat                            0
location.lon                            0
minority_serving.historically_black     0
act_scores.midpoint.cumulative          0
sat_scores.average.overall              0
demographics.race_ethnicity.white       0
net_price_less_30000                   22
net_price_30001_48000                  28
net_price_48001_75000                  26
net_price_75001_110000                 35
net_price_above_110001                 43
demographics.women                      0
locale                                  0
admission_rate.overall                  0
size                                    0
early_pay                               0
ownership                               0
percent_stem                            0
rank_lac                                0
Rank                                    0
Description                            97
division                                0
dtype: int64

In [38]:
reduced_main_df.to_csv('final_df.csv')

# New Reduced DF With All Non Empty Columns, Not Just Selected Few

In [52]:
empty_cols=main_df.isna().any()
column_names=list(main_df.columns)

non_empty_columns=[]
for column in range(len(empty_cols)):
    if not empty_cols[column]:
        non_empty_columns.append(column_names[column])

In [58]:
non_empty_columns_not_in_reduced=[]
for column in non_empty_columns:
    if column not in list(reduced_main_df.columns):
        non_empty_columns_not_in_reduced.append(column)
non_empty_columns_not_in_reduced.append('name')

In [61]:
 all_non_empty_df=pd.merge(reduced_main_df, main_df[non_empty_columns_not_in_reduced], how='left')

In [63]:
all_non_empty_df.head()

,name,location.lat,location.lon,minority_serving.historically_black,act_scores.midpoint.cumulative,sat_scores.average.overall,demographics.race_ethnicity.white,net_price_less_30000,net_price_30001_48000,net_price_48001_75000,...,demographics.median_family_income,demographics.avg_family_income_independents,median_debt_suppressed.overall,median_debt_suppressed.completers.overall,median_debt_suppressed.completers.monthly_payments,institutional_characteristics.level,demographics.men,title_iv.approval_date,undergrads_with_pell_grant_or_federal_student_loan,accreditor_code
0,Alabama A & M University,34.783368,-86.568502,1.0,18.0,850.0,0.0340,13075.0,12458.0,15857.0,...,21429,8487.4347826,14600,35000,361.891446885773,1,0.4617,12/12/1965,4210.0,SACSCC
1,University of Alabama at Birmingham,33.502230,-86.809170,0.0,25.0,1147.0,0.5863,13614.0,14746.0,17601.0,...,33731,29795.357579,14250,21500,222.304745944118,1,0.4116,12/1/1965,11679.0,SACSCC
2,University of Alabama in Huntsville,34.722818,-86.638420,0.0,27.0,1221.0,0.7024,15252.0,17228.0,19178.0,...,39100.5,25075.698438,15000,23500,242.984257194733,1,0.5740,12/1/1965,5618.0,SACSCC
3,Alabama State University,32.364317,-86.295677,1.0,18.0,844.0,0.0165,7519.0,2611.0,9831.0,...,21704,6715.964497,15274,32091,331.813097771753,1,0.3850,12/1/1965,4805.0,SACSCC
4,The University of Alabama,33.214400,-87.545766,0.0,27.0,1181.0,0.7807,17263.0,19279.0,21309.0,...,64600.5,30580.381215,17500,23750,245.56919610106,1,0.4525,12/1/1965,30752.0,SACSCC

In [64]:
all_non_empty_df.to_csv('more_features_final_df.csv')