In [1]:
import pandas as pd

# Read Table

In [2]:
main_df=pd.read_csv('final_df_unclean.csv')
main_df=main_df.drop('Unnamed: 0', 1)
main_df=main_df.drop(['name.1', 'name.2', 'name.3', 'name.4'], 1)
main_df.head()

/Users/mayamadhavan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (668) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,index,id,ope8_id,ope6_id,name,city,state,zip,accreditor,school_url,...,In-state,Undergrad Enrollment,univ.1,index.4,City,Conference,Nickname,State,division,ncaa_rated
0,0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,...,NaN,NaN,NaN,758.0,Birmingham,Conference USA,Blazers,Alabama,D1,ncaa
2,3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,...,NaN,NaN,NaN,3.0,Huntsville,Gulf South Conference,Chargers,Alabama,D2,ncaa
3,4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,...,NaN,NaN,NaN,759.0,Montgomery,Southwestern Athletic Conference,Hornets and Lady Hornets,Alabama,D1,ncaa
4,5,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,35487-0166,Southern Association of Colleges and Schools C...,www.ua.edu/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
len(main_df)

1680

# Drop Rows= Move to SQL

## Dropping Associates Degrees and School with Open Admissions Policy
1. Community Colleges
2. Schools that offer Associates Degrees
3. Technical Schools

In [4]:
main_df=main_df[main_df['carnegie_basic']>=15]

In [5]:
main_df=main_df[main_df['carnegie_basic']<=23]

In [6]:
main_df=main_df[main_df['open_admissions_policy']!=1]

In [7]:
main_df=main_df[main_df['open_admissions_policy']!=3]

In [8]:
len(main_df)

1443

# Clean Columns of Interest Imputing with Overall Data

## Get Columns of Interest

In [9]:
def drop_columns(df=main_df):
    count=0
    names=[]
    for column in list(main_df.columns):
        if 'net_price' in column or 'act_scores.midpoint' in column or 'sat_scores.midpoint' in column or 'program_precentage' in column  or 'name' in column  or 'minority_serving.historically_black' in column or 'location' in column or 'demographics' in column:
            names.append(column)
            count+=1
    names.remove('avg_net_price.public')
    names.remove('avg_net_price.private')
    names.remove('demographics.age_entry')
    names.remove('demographics.female_share')
    names.remove('demographics.married')
    names.remove('demographics.dependent')
    names.remove('demographics.veteran')
    names.remove('demographics.first_generation')
    names.remove('demographics.avg_family_income')
    names.remove('demographics.median_family_income')
    names.remove('demographics.avg_family_income_independents')
    names.remove('demographics.race_ethnicity.hispanic')
    names.remove('demographics.race_ethnicity.asian')
    names.remove('demographics.race_ethnicity.aian')
    names.remove('demographics.race_ethnicity.nhpi')
    names.remove('demographics.race_ethnicity.two_or_more')
    names.remove('demographics.race_ethnicity.non_resident_alien')
    names.remove('demographics.race_ethnicity.unknown')
    names.remove('demographics.race_ethnicity.black')
    names.remove('act_scores.midpoint.english')
    names.remove('act_scores.midpoint.math')
    names.remove('act_scores.midpoint.writing')
    names.remove('demographics.men')
    names.append('locale')
    names.append('admission_rate.overall')
    names.append('size')
    names.append('early_pay')
    names.append('sector')
    names.append('school_info')
    names.append('percent_stem')
    names.append('rank_lac')
    names.append('Rank')
    names.append('Description')
    names.append('division')
    names.append('name')
    reduced_main_df=main_df[names]
    reduced_main_df=reduced_main_df.drop('Nickname', 1)
    column_names = reduced_main_df.columns.values
    column_names[-1] = 'drop'
    reduced_main_df.columns = column_names
    reduced_main_df=reduced_main_df.drop('drop', 1)
    return reduced_main_df

## Checking Number of Nulls In Columns of Interest
Using column dropping schema in next cells

In [10]:
reduced_main_df=drop_columns()

In [11]:
reduced_main_df.isnull().sum()

name                                                 0
location.lat                                         0
location.lon                                         0
minority_serving.historically_black                  0
sat_scores.midpoint.critical_reading               361
sat_scores.midpoint.math                           353
sat_scores.midpoint.writing                        787
act_scores.midpoint.cumulative                     338
demographics.race_ethnicity.white                   10
net_price.public.by_income_level.0-30000           923
net_price.public.by_income_level.30001-48000       924
net_price.public.by_income_level.48001-75000       924
net_price.public.by_income_level.75001-110000      928
net_price.public.by_income_level.110001-plus       941
net_price.private.by_income_level.0-30000          554
net_price.private.by_income_level.30001-48000      559
net_price.private.by_income_level.48001-75000      559
net_price.private.by_income_level.75001-110000     577
net_price.private.by_income_level.110001-plus      592
net_price.public.by_income_level.0-48000           923
net_price.private.by_income_level.0-48000          554
net_price.public.by_income_level.30001-75000       924
net_price.private.by_income_level.30001-75000      557
net_price.public.by_income_level.75000-plus        927
net_price.private.by_income_level.75000-plus       574
demographics.women                                  10
locale                                               0
admission_rate.overall                              33
size                                                10
early_pay                                          170
sector                                             170
school_info                                        170
percent_stem                                       170
rank_lac                                          1288
Rank                                              1302
Description                                       1302
division                                           656
dtype: int64

## Dropping Grad Schools

In [12]:
main_df=main_df[main_df['demographics.women'].notnull()]

In [15]:
reduced_main_df=drop_columns()
reduced_main_df.isnull().sum()

name                                                 0
location.lat                                         0
location.lon                                         0
minority_serving.historically_black                  0
sat_scores.midpoint.critical_reading               351
sat_scores.midpoint.math                           343
sat_scores.midpoint.writing                        777
act_scores.midpoint.cumulative                     328
demographics.race_ethnicity.white                    0
net_price.public.by_income_level.0-30000           913
net_price.public.by_income_level.30001-48000       914
net_price.public.by_income_level.48001-75000       914
net_price.public.by_income_level.75001-110000      918
net_price.public.by_income_level.110001-plus       931
net_price.private.by_income_level.0-30000          544
net_price.private.by_income_level.30001-48000      549
net_price.private.by_income_level.48001-75000      549
net_price.private.by_income_level.75001-110000     567
net_price.private.by_income_level.110001-plus      582
net_price.public.by_income_level.0-48000           913
net_price.private.by_income_level.0-48000          544
net_price.public.by_income_level.30001-75000       914
net_price.private.by_income_level.30001-75000      547
net_price.public.by_income_level.75000-plus        917
net_price.private.by_income_level.75000-plus       564
demographics.women                                   0
locale                                               0
admission_rate.overall                              23
size                                                 0
early_pay                                          161
sector                                             161
school_info                                        161
percent_stem                                       161
rank_lac                                          1278
Rank                                              1292
Description                                       1292
division                                           646
dtype: int64

## Cleaning Net Price- Public

## Cleaning Net Price- Private

## Cleaning SAT Score

### Math

In [ ]:
sat_mat = main_df[~main_df['sat_scores.midpoint.critical_reading'].isnull()].groupby(['country_of_citizenship',
                                                                                   'class_of_admission']
                                                                                 ).foreign_worker_info_education.apply(mode
                                                                                                                      ).reset_index()

In [ ]:
main_df = impute(main_df, sat_mat, 'foreign_worker_info_education', ['country_of_citizenship',
                                                                                   'class_of_admission'])

### Critical Reading

In [ ]:
sat_crit = main_df[~main_df['foreign_worker_info_education'].isnull()].groupby(['country_of_citizenship',
                                                                                   'class_of_admission']
                                                                                 ).foreign_worker_info_education.apply(mode
                                                                                                                      ).reset_index()

### Writing

In [ ]:
sat_writ = main_df[~main_df['foreign_worker_info_education'].isnull()].groupby(['country_of_citizenship',
                                                                                   'class_of_admission']
                                                                                 ).foreign_worker_info_education.apply(mode
                                                                                                                      ).reset_index()

### Cleaning ACT Score

### Admssion Rate

### Size

In [ ]:
sat_scores.midpoint.critical_reading               351
sat_scores.midpoint.math                           343
sat_scores.midpoint.writing                        777
act_scores.midpoint.cumulative                     328


net_price.public.by_income_level.0-30000           913
net_price.public.by_income_level.30001-48000       914
net_price.public.by_income_level.48001-75000       914
net_price.public.by_income_level.75001-110000      918
net_price.public.by_income_level.110001-plus       931
net_price.private.by_income_level.0-30000          544
net_price.private.by_income_level.30001-48000      549
net_price.private.by_income_level.48001-75000      549
net_price.private.by_income_level.75001-110000     567
net_price.private.by_income_level.110001-plus      582
net_price.public.by_income_level.0-48000           913
net_price.private.by_income_level.0-48000          544
net_price.public.by_income_level.30001-75000       914
net_price.private.by_income_level.30001-75000      547
net_price.public.by_income_level.75000-plus        917
net_price.private.by_income_level.75000-plus       564


admission_rate.overall                              23
early_pay                                          161
sector                                             161
school_info                                        161
percent_stem                                       161
rank_lac                                          1278
Rank                                              1292
Description                                       1292
division                                           646

# Final Drop + Null Checking

Chose to do this in pandas as opposed to SQL in case I'd want to return and add a column.

In [ ]:
reduced_main_df=drop_columns()
reduced_main_df.isnull().sum()

# All Good= Read into Final CSV

# Reference

univ_ranks.head()
'''
drop:
name
location
tuition and fees
in state
enrollment
'''


lac_ranks.head()
'''
drop:
enrollment
name
city
state
base fees
in-state

'''


income_df.head()
'''
drop:
degree type
sector
name
state
city

'''



ncaa.head()
'''
drop:
Conference
Nickname
name
State
City

'''

scores= ['sat_scores.midpoint.critical_reading', 'sat_scores.midpoint.math',
        'sat_scores.midpoint.writing', 'act_scores.midpoint.cumulative']

main_df[~main_df[scores].any(axis=1)][['carnegie_basic','name']]

df=pd.read_csv('seperate_datasets/main_dataset.csv')
income_df=pd.read_csv('seperate_datasets/income.csv')
lac_ranks=pd.read_csv('seperate_datasets/lac_ranking.csv')
univ_ranks=pd.read_csv('seperate_datasets/univ_rankings.csv')
ncaa=pd.read_csv('seperate_datasets/ncaa.csv')

df=df.drop('Unnamed: 0', 1)
income_df=income_df.drop('Unnamed: 0', 1)
lac_ranks=lac_ranks.drop('Unnamed: 0', 1)
lac_ranks=lac_ranks.drop('lac', 1)
lac_ranks=lac_ranks.rename(columns={'rank':'rank_lac'})
univ_ranks=univ_ranks.drop('Unnamed: 0', 1)
ncaa=ncaa.drop('Unnamed: 0', 1)