In [ ]:
import pa

# Read All Tables into SQL

In [1]:
df=pd.read_csv('seperate_datasets/main_dataset.csv')
income_df=pd.read_csv('seperate_datasets/income.csv')
lac_ranks=pd.read_csv('seperate_datasets/lac_ranking.csv')
univ_ranks=pd.read_csv('seperate_datasets/univ_rankings.csv')
ncaa=pd.read_csv('seperate_datasets/ncaa.csv')

NameError: name 'pd' is not defined

# Join Tables

# Drop Columns

Columns of Interest:
1. Acceptance Rate
2. Athletics
3. Location (Suburban, Etc...)
4. % in Dorms
5. SAT Scores
6. ACT Scores
7. Net Price By Income
8. Salary After Graduation
9. Student Teacher Ratio
10. Size
11. ZIP Code
12. Lat
13. Long
14. Transfer Rate
15. Completion in 4 Years
16. Diversity Stats
17. Public/Private
18. Married
19. Gender Ratio
20. HBCU
21. Rank

# Fill Na's Where Possible