In [1]:
import pandas as pd

# Read All Tables

In [2]:
df=pd.read_csv('seperate_datasets/main_dataset.csv')
income_df=pd.read_csv('seperate_datasets/income.csv')
lac_ranks=pd.read_csv('seperate_datasets/lac_ranking.csv')
univ_ranks=pd.read_csv('seperate_datasets/univ_rankings.csv')
ncaa=pd.read_csv('seperate_datasets/ncaa.csv')

/Users/mayamadhavan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,10,563,564,565,566,567,580,642,643,644,645,650,651) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df=df.drop('Unnamed: 0', 1)
df.head()

,id,ope8_id,ope6_id,name,city,state,zip,accreditor,school_url,price_calculator_url,...,retention_rate_suppressed.four_year.full_time_pooled,retention_rate_suppressed.lt_four_year.full_time_pooled,retention_rate_suppressed.four_year.part_time_pooled,retention_rate_suppressed.lt_four_year.part_time_pooled,transfer_rate.4yr.full_time_pooled,transfer_rate.less_than_4yr.full_time_pooled,transfer_rate.cohort_4yr.full_time_pooled,transfer_rate.cohort_less_than_4yr.full_time_pooled,transfer_rate_suppressed.4yr.full_time_pooled,transfer_rate_suppressed.less_than_4yr.full_time_pooled
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,...,0.61638362831858,NaN,0.41664791666666,NaN,0.200384,NaN,2086.0,NaN,0.20038350910834,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,...,0.80765744125326,NaN,0.58823529411764,NaN,0.241619,NaN,2740.0,NaN,0.24161927007299,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,PrivacySuppressed,NaN,PrivacySuppressed,NaN,0.111111,NaN,18.0,NaN,PrivacySuppressed,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.78698579881656,NaN,0.50876842105263,NaN,0.332677,NaN,1539.0,NaN,0.33267738791423,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,...,0.58470804331013,NaN,0.43181818181818,NaN,0.000000,NaN,2539.0,NaN,0,NaN

In [4]:
income_df=income_df.drop('Unnamed: 0', 1)
income_df.head()

,School Type,Degree Type,School Sector,Early Career Pay,Mid-Career Pay,% High Meaning,% STEM Degrees,name
0,"Engineering, Liberal Arts School, Private School",NaN,Private not-for-profit,"$81,000","$155,800",58%,85%,Harvey Mudd College
1,"Ivy League, Private School, Research Universit...",NaN,Private not-for-profit,"$69,800","$147,800",44%,47%,Princeton University
2,"Engineering, Private School, Research University",NaN,Private not-for-profit,"$81,500","$147,000",53%,69%,Massachusetts Institute of Technology
3,State School,NaN,Public,"$71,600","$145,100",52%,35%,SUNY Maritime College
4,"Liberal Arts School, Sober School, For Sports ...",NaN,Public,"$75,100","$144,300",65%,43%,United States Military Academy

In [5]:
lac_ranks=lac_ranks.drop('Unnamed: 0', 1)
lac_ranks.head()

,index,Enrollment,name,city,state,rank,base_fees,in-state
0,0,2076.0,Williams College,Williamstown,MA,1,53550.0,NaN
1,1,1849.0,Amherst College,Amherst,MA,2,54310.0,NaN
2,2,1806.0,Bowdoin College,Brunswick,ME,3,51848.0,NaN
3,3,1543.0,Swarthmore College,Swarthmore,PA,3,50822.0,NaN
4,4,2347.0,Wellesley College,Wellesley,MA,3,51148.0,NaN

In [6]:
univ_ranks=univ_ranks.drop('Unnamed: 0', 1)
univ_ranks.head()

,name,Location,Rank,Description,Tuition and fees,In-state,Undergrad Enrollment
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,NaN,"5,402"
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,NaN,"6,699"
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...",52491,NaN,"5,844"
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...",49480,NaN,"5,532"
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...",55056,NaN,"6,102"

In [7]:
ncaa=ncaa.drop('Unnamed: 0', 1)
ncaa.head()

,City,Conference,Nickname,name,State,division
0,San Francisco,Pacific West Conference,Urban Knights,Academy of Art University,California,D2
1,Alamosa,Rocky Mountain Athletic Conference,Grizzlies,Adams State University,Colorado,D2
2,Garden City,Northeast-10 Conference,Panthers,Adelphi University,New York,D2
3,Huntsville,Gulf South Conference,Chargers,University of Alabama in Huntsville,Alabama,D2
4,Fairbanks,Great Northwest Athletic Conference,Nanooks,University of Alaska Fairbanks,Alaska,D2

# Cleaning in Pandas- Move to SQL

look at correlation
1. get rid of cc and open admission
2. how many are left
3. how many nulls do i have
4. if so can i still join, what is the overlap
5. if too few, think of how to impute values for most relevant columns (Think about what is important to seniors)

## Drop College with Carnegie Classification of <14
1. Community Colleges
2. Schools that offer Associates Degrees
3. Technical Schools

In [187]:
main_df=df[df['accreditor']!='Accrediting Commission for Acupuncture and Oriental Medicine']
main_df=main_df[main_df['accreditor']!='Accrediting Council for Continuing Education & Training']
main_df=main_df[main_df['accreditor']!='Commission on Accrediting of the Association of Theological Schools']
main_df=main_df[main_df['accreditor']!='Association of Advanced Rabbinical and Talmudic Schools']
main_df=main_df[main_df['accreditor']!='Association for Bibical Higher Educaiton']

In [188]:
main_df=main_df[main_df['carnegie_basic']>=15]

In [189]:
main_df=main_df[main_df['open_admissions_policy']!=1]

In [190]:
main_df=main_df[main_df['open_admissions_policy']!=3]

##  Clean Columns of Interest From Scorecard Data, pre-join
### Columns
+ ACT Scores
+ SAT Scores
+ HBCU
+ Diversity
+ Net Price
+ Gender Ratio
+ Location
+ Locale
+ Name
+ Acceptance Rate

## Drop Columns not in Final Columns From Scorecard

In [191]:
count=0
names=[]
for column in list(main_df.columns):
    if 'net_price' in column or 'act_scores.midpoint' in column or 'sat_scores.midpoint' in column or 'program_precentage' in column  or 'name' in column  or 'minority_serving.historically_black' in column or 'location' in column or 'demographics' in column:
        names.append(column)
        count+=1

In [192]:
names.remove('avg_net_price.public')
names.remove('avg_net_price.private')
names.remove('demographics.age_entry')
names.remove('demographics.female_share')
names.remove('demographics.married')
names.remove('demographics.dependent')
names.remove('demographics.veteran')
names.remove('demographics.first_generation')
names.remove('demographics.avg_family_income')
names.remove('demographics.median_family_income')
names.remove('demographics.avg_family_income_independents')

names.remove('demographics.race_ethnicity.hispanic')
names.remove('demographics.race_ethnicity.asian')
names.remove('demographics.race_ethnicity.aian')
names.remove('demographics.race_ethnicity.nhpi')
names.remove('demographics.race_ethnicity.two_or_more')
names.remove('demographics.race_ethnicity.non_resident_alien')
names.remove('demographics.race_ethnicity.unknown')
names.remove('demographics.race_ethnicity.black')
names.remove('act_scores.midpoint.english')
names.remove('act_scores.midpoint.math')
names.remove('act_scores.midpoint.writing')
names.remove('demographics.men')

In [193]:
names.append('locale')

In [194]:
reduced_main_df=main_df[names]

In [195]:
len(reduced_main_df)

1905

In [196]:
reduced_main_df.isnull().sum()

name                                                 0
location.lat                                         0
location.lon                                         0
minority_serving.historically_black                  0
sat_scores.midpoint.critical_reading               770
sat_scores.midpoint.math                           761
sat_scores.midpoint.writing                       1207
act_scores.midpoint.cumulative                     735
demographics.race_ethnicity.white                  165
net_price.public.by_income_level.0-30000          1377
net_price.public.by_income_level.30001-48000      1378
net_price.public.by_income_level.48001-75000      1379
net_price.public.by_income_level.75001-110000     1383
net_price.public.by_income_level.110001-plus      1399
net_price.private.by_income_level.0-30000          820
net_price.private.by_income_level.30001-48000      838
net_price.private.by_income_level.48001-75000      844
net_price.private.by_income_level.75001-110000     871
net_price.private.by_income_level.110001-plus      905
net_price.public.by_income_level.0-48000          1377
net_price.private.by_income_level.0-48000          816
net_price.public.by_income_level.30001-75000      1378
net_price.private.by_income_level.30001-75000      829
net_price.public.by_income_level.75000-plus       1382
net_price.private.by_income_level.75000-plus       856
demographics.women                                 165
locale                                               0
dtype: int64

In [197]:
print(list(reduced_main_df[reduced_main_df['sat_scores.midpoint.critical_reading'].isnull()].name))

['Athens State University', 'Concordia College Alabama', 'Herzing University-Birmingham', 'United States Sports Academy', 'University of Alaska Anchorage', 'University of Alaska Southeast', 'Thunderbird School of Global Management', 'University of Arizona', 'Embry-Riddle Aeronautical University-Prescott', 'Frank Lloyd Wright School of Architecture', 'Grand Canyon University', 'ITT Technical Institute-Tucson', 'ITT Technical Institute-Tempe', 'University of Arkansas for Medical Sciences', 'Arkansas Tech University', 'Williams Baptist College', 'University of Arkansas-Fort Smith', 'ITT Technical Institute-Rancho Cordova', 'American Film Institute Conservatory', 'American Conservatory Theater', 'Art Center College of Design', 'Brooks Institute', 'Phillips Graduate University', 'California Institute of Integral Studies', 'California College of the Arts', 'University of California-Hastings College of Law', 'Alliant International University-San Diego', 'California State University-Bakersfield', 'California State University-Stanislaus', 'California State University-Dominguez Hills', 'California State University-East Bay', 'University of California-San Francisco', 'Sofia University', 'California Christian College', 'California Institute of the Arts', 'California State University Maritime Academy', 'California Western School of Law', 'Charles R Drew University of Medicine and Science', 'Claremont Graduate University', 'Cogswell College', 'Coleman University', 'Western University of Health Sciences', 'Columbia College-Hollywood', "Dell'Arte International School of Physical Theatre", 'Dominican School of Philosophy & Theology', "Emperor's College of Traditional Oriental Medicine", 'FIDM-Fashion Institute of Design & Merchandising-Los Angeles', 'Fielding Graduate University', 'Franciscan School of Theology', 'Fuller Theological Seminary in California', 'Golden Gate University-San Francisco', 'Pacifica Graduate Institute', 'ITT Technical Institute-National City', 'ITT Technical Institute-San Dimas', 'ITT Technical Institute-Orange', 'John F. Kennedy University', 'American Jewish University', 'Laguna College of Art and Design', 'Life Chiropractic College West', 'Loma Linda University', 'Middlebury Institute of International Studies at Monterey', 'Musicians Institute', 'Newschool of Architecture and Design', 'Palo Alto University', 'Pacific Oaks College', 'Pitzer College', 'Pardee RAND Graduate School', 'Samuel Merritt University', 'San Francisco Art Institute', 'San Francisco Conservatory of Music', 'San Francisco Theological Seminary', 'San Joaquin College of Law', 'Saybrook University', 'Shasta Bible College and Graduate School', 'Trinity Law School', 'Marshall B Ketchum University', 'Southwestern Law School', 'Claremont School of Theology', 'Epic Bible College', 'Westminster Theological Seminary in California', 'The Wright Institute', 'Western State College of Law at Argosy University', 'Thomas Jefferson School of Law', 'Colorado College', 'Iliff School of Theology', 'Naropa University', 'Charter Oak State College', 'Connecticut College', 'Eastern Connecticut State University', 'Fairfield University', 'Rensselaer Hartford Graduate Center Inc', 'Mitchell College', 'Sacred Heart University', 'Trinity College', 'Wesleyan University', 'Western Connecticut State University', 'Goldey-Beacom College', 'Catholic University of America', 'Trinity Washington University', 'Wesley Theological Seminary', 'Carlos Albizu University-Miami', 'Embry-Riddle Aeronautical University-Daytona Beach', 'Florida Memorial University', 'Sanford-Brown College-Tampa', 'ITT Technical Institute-Tampa', 'Keiser University-Ft Lauderdale', 'Luther Rice College & Seminary', 'Remington College-Tampa Campus', 'Saint Vincent de Paul Regional Seminary', 'Ringling College of Art and Design', 'Rollins College', 'Saint Leo University', 'Saint John Vianney College Seminary', 'Stetson University', 'Agnes Scott College', "Atlanta's John Marshall Law School", 'Clayton  State University', 'Columbia Theological Seminary', 'Life University', 'Herzing University-Atlanta', 'Morehouse School of Medicine', 'Thomas University', 'Hawaii Pacific University', 'World Medicine Institute', 'University of Hawaii-West Oahu', 'The College of Idaho', 'ITT Technical Institute-Boise', 'Adler University', 'Augustana College', 'Bethany Theological Seminary', 'Blessing Rieman College of Nursing and Health Sciences', 'Midwestern University-Downers Grove', 'The Chicago School of Professional Psychology at Chicago', 'Columbia College Chicago', 'DePaul University', 'Eastern Illinois University', 'Harrington College of Design', 'Rosalind Franklin University of Medicine and Science', 'Illinois College of Optometry', 'Illinois College', 'Illinois State University', 'Institute for Clinical Social Work', 'Sanford-Brown College-Chicago', 'The John Marshall Law School', 'Kendall College', 'Knox College', 'Lake Forest College', 'Lake Forest Graduate School of Management', 'Lakeview College of Nursing', 'Trinity College of Nursing & Health Sciences', 'Methodist College', 'Midstate College', 'Monmouth College', 'Moody Bible Institute', 'National Louis University', 'National University of Health Sciences', 'North Central College', 'Robert Morris University Illinois', 'Rush University', 'Saint Francis Medical Center College of Nursing', "St. John's College-Department of Nursing", 'Shimer College', 'Spertus College', 'Saint Anthony College of Nursing', 'Resurrection University', 'Western Illinois University', 'Christian Theological Seminary', 'Earlham College', 'Harrison College-Indianapolis', 'International Business College-Fort Wayne', 'ITT Technical Institute-Nashville', 'ITT Technical Institute-Fort Wayne', 'ITT Technical Institute-Indianapolis', 'Anabaptist Mennonite Biblical Seminary', 'Saint Meinrad School of Theology', 'Allen College', 'AIB College of Business', 'Buena Vista University', 'Divine Word College', 'Maharishi University of Management', 'Mercy College of Health Sciences', 'Morningside College', 'Mount Mercy University', 'Des Moines University-Osteopathic Medical Center', 'Palmer College of Chiropractic', 'Saint Ambrose University', 'Upper Iowa University', 'William Penn University', 'Bethel College-North Newton', 'Central Baptist Theological Seminary', 'Emporia State University', 'Fort Hays State University', 'Barclay College', 'Haskell Indian Nations University', 'University of Kansas', 'Kansas State University', 'Ottawa University-Ottawa', 'Ottawa University-Kansas City', 'Pittsburg State University', 'Frontier Nursing University', 'Sullivan College of Technology and Design', 'Midway University', 'Spalding University', 'Transylvania University', 'Louisiana State University Health Sciences Center-New Orleans', 'Notre Dame Seminary Graduate School of Theology', 'University of Holy Cross', 'Our Lady of the Lake College', 'Southeastern Louisiana University', 'College of the Atlantic', 'Bates College', 'Bowdoin College', 'University of Maine at Farmington', 'University of Maine at Presque Isle', 'Maine College of Art', 'Thomas College', 'Unity College', 'Goucher College', 'Hood College', 'Loyola University Maryland', 'University of Maryland Baltimore', 'Salisbury University', "St John's College", 'Maryland University of Integrative Health', 'Washington College', 'Anna Maria College', 'Assumption College', 'Bay Path University', 'Berklee College of Music', 'Boston Graduate School of Psychoanalysis Inc', 'The Boston Conservatory', 'Clark University', 'Conway School of Landscape Design', 'Emmanuel College', 'Endicott College', 'Episcopal Divinity School', 'Fisher College', 'Hampshire College', 'Hebrew College', 'College of the Holy Cross', 'Longy School of Music of Bard College', 'University of Massachusetts Medical School Worcester', 'William James College', 'Merrimack College', 'MGH Institute of Health Professions', 'Mount Holyoke College', 'School of the Museum of Fine Arts at Tufts University', 'The New England Conservatory of Music', 'New England College of Optometry', 'New England Law-Boston', 'Newbury College', 'Nichols College', 'Regis College', "Saint John's Seminary", 'Salem State University', "Bard College at Simon's Rock", 'Smith College', 'Stonehill College', 'Wheaton College', 'Worcester Polytechnic Institute', 'Aquinas College', 'Michigan School of Professional Psychology', 'Cleary University', 'Concordia University-Ann Arbor', 'Cranbrook Academy of Art', 'College for Creative Studies', 'Davenport University', 'Michigan State University-College of Law', 'ITT Technical Institute-Wyoming', 'Kalamazoo College', 'Madonna University', 'Marygrove College', 'University of Michigan-Dearborn', 'Kuyper College', 'Sacred Heart Major Seminary', 'Saginaw Valley State University', 'Western Michigan University-Thomas M. Cooley Law School', 'Walsh College of Accountancy and Business Administration', 'Wayne State University', 'Bemidji State University', 'Bethel Seminary-St Paul', 'Concordia College at Moorhead', 'Concordia University-Saint Paul', 'Martin Luther College', 'Gustavus Adolphus College', 'Hazelden Betty Ford Graduate School of Addiction Studies', 'Minnesota State University-Mankato', 'Mayo Clinic School of Medicine', 'Mayo Clinic School of Health Sciences', 'Metropolitan State University', 'Herzing University-Minneapolis', 'Crossroads College', 'Sanford-Brown College-Mendota Heights', 'Winona State University', 'Mitchell Hamline School of Law', 'Belhaven University', 'Blue Mountain College', 'Mississippi Valley State University', 'Rust College', 'Assemblies of God Theological Seminary', 'ITT Technical Institute-Earth City', 'Cox College', 'University of Central Missouri', 'Cleveland University-Kansas City', 'Conception Seminary College', 'Drury University', 'Eden Theological Seminary', 'Fontbonne University', 'Hannibal-LaGrange University', 'Barnes-Jewish College Goldfarb School of Nursing', 'A T Still University of Health Sciences', 'Logan University', 'Maryville University of Saint Louis', 'Missouri Southern State University', 'Missouri Valley College', 'University of Missouri-St Louis', 'Park University', 'Stevens-The Institute of Business & Arts', 'Research College of Nursing', 'Saint Paul School of Theology', "Saint Luke's College of Health Sciences", 'Kansas City University of Medicine and Biosciences', 'University of Great Falls', 'Clarkson College', 'Bryan College of Health Sciences', 'Nebraska Methodist College of Nursing & Allied Health', 'University of Nebraska Medical Center', 'College of Saint Mary', 'Union College', 'York College', 'Colby-Sawyer College', 'Daniel Webster College', 'University of New Hampshire-School of Law', 'Northeast Catholic College', 'New England College', 'Southern New Hampshire University', 'Plymouth State University', 'Rivier University', 'Saint Anselm College', 'Thomas More College of Liberal Arts', 'Drew University', 'Montclair State University', 'Princeton Theological Seminary', 'Institute of American Indian and Alaska Native Culture and Arts Development', 'Santa Fe University of Art and Design', 'Vaughn College of Aeronautics and Technology', 'Albany Law School', 'Albany Medical College', 'American Musical and Dramatic Academy', 'Bank Street College of Education', 'Bard College', 'Brooklyn Law School', 'Cazenovia College', 'Christ the King Seminary', 'Metropolitan College of New York', 'Weill Cornell Medical College', 'Culinary Institute of America', 'College of Staten Island CUNY', 'CUNY Graduate School and University Center', 'CUNY Medgar Evers College', 'CUNY New York City College of Technology', 'CUNY School of Law', 'Daemen College', 'Elmira College', 'Fashion Institute of Technology', 'Five Towns College', 'Hamilton College', 'Hartwick College', 'Hilbert College', 'Hobart William Smith Colleges', 'Hofstra University', 'Ithaca College', 'The Juilliard School', 'Keuka College', 'LIU Brooklyn', 'LIU Hudson at Rockland', 'LIU Brentwood', 'Manhattan School of Music', 'Manhattanville College', 'Marist College', 'Mercy College', 'Monroe College', 'Icahn School of Medicine at Mount Sinai', 'Nazareth College', 'The New School', 'New York Chiropractic College', 'New York Law School', 'New York Medical College', 'New York College of Podiatric Medicine', 'Paul Smiths College of Arts and Science', 'Plaza College', 'Davis College', "Rabbinical College of Ch'san Sofer New York", 'University of Rochester', 'The Sage Colleges', 'St Lawrence University', 'The College of Saint Rose', 'Sarah Lawrence College', 'Siena College', 'SUNY College of Technology at Canton', 'SUNY College of Technology at Delhi', 'SUNY Cortland', 'SUNY College at Potsdam', 'SUNY College of Optometry', 'SUNY Downstate Medical Center', 'Upstate Medical University', 'Teachers College at Columbia University', 'Touro College', 'Union College', 'Union Theological Seminary in the City of New York', 'Utica College', 'Wagner College', 'Yeshivat Mikdash Melech', 'Yeshivath Zichron Moshe', 'Bennett College', 'Brevard College', 'Guilford College', 'Lees-McRae College', 'Shaw University', 'Wake Forest University', 'Baldwin Wallace University', 'Cincinnati College of Mortuary Science', 'Cleveland Institute of Music', 'Columbus College of Art and Design', 'Denison University', 'Hebrew Union College-Jewish Institute of Religion', 'Kettering College', 'Mercy College of Ohio', 'Mount Carmel College of Nursing', 'Mount Saint Joseph University', 'Northeast Ohio Medical University', 'Ohio Wesleyan University', 'Pontifical College Josephinum', 'Tiffin University', 'Walsh University', 'Wittenberg University', 'University of Central Oklahoma', 'Randall University', 'Spartan College of Aeronautics and Technology', 'Northwestern Oklahoma State University', 'Oklahoma State University Center for Health Sciences', 'University of Oklahoma-Health Sciences Center', 'Oklahoma Panhandle State University', "St. Gregory's University", 'Southeastern Oklahoma State University', 'Southwestern Oklahoma State University', 'ITT Technical Institute-Portland', 'Lewis & Clark College', 'Marylhurst University', 'Mount Angel Seminary', 'Multnomah University', 'National University of Natural Medicine', 'Oregon Health & Science University', 'Oregon College of Art and Craft', 'Pacific Northwest College of Art', 'Warner Pacific College', 'Western Seminary', 'University of Western States', 'Albright College', 'Allegheny College', 'Clarks Summit University', 'Biblical Theological Seminary', 'Cabrini University', 'Chatham University', 'Curtis Institute of Music', 'Dickinson College', 'Pennsylvania State University-Dickinson Law', 'Evangelical Theological Seminary', 'Franklin and Marshall College', 'Gettysburg College', 'Gratz College', 'Juniata College', "King's College", 'Lebanon Valley College', 'Mercyhurst University', 'Moore College of Art and Design', 'Muhlenberg College', 'Salus University', 'Pennsylvania State University-Penn State Great Valley', 'Pennsylvania State University-College of Medicine', 'Pennsylvania Academy of the Fine Arts', 'Pennsylvania College of Art and Design', 'Philadelphia College of Osteopathic Medicine', 'Reconstructionist Rabbinical College', 'The Restaurant School at Walnut Hill College', "Saint Joseph's University", 'Saint Vincent Seminary', 'Seton Hill University', 'Saint Charles Borromeo Seminary-Overbrook', 'Susquehanna University', 'Temple University', 'Thomas Jefferson University', 'Ursinus College', 'Washington & Jefferson College', 'Westminster Theological Seminary', 'Bryant University', 'Johnson & Wales University-Providence', 'Providence College', 'Roger Williams University', 'Salve Regina University', 'Southern Wesleyan University', 'Furman University', 'Medical University of South Carolina', 'Sherman College of Straight Chiropractic', 'Voorhees College', 'Mount Marty College', 'Christian Brothers University', 'Pentecostal Theological Seminary', 'Le Moyne-Owen College', 'Meharry Medical College', 'Middle Tennessee School of Anesthesia Inc', "O'More College of Design", 'Sewanee-The University of the South', 'Southern College of Optometry', 'The University of Tennessee-Martin', 'Baptist Missionary Association Theological Seminary', 'Baylor College of Medicine', 'Dallas Theological Seminary', 'Episcopal Theological Seminary of the Southwest', 'University of Houston-Victoria', 'Northwood University-Texas', 'Oblate School of Theology', 'South Texas College of Law Houston', 'University of Texas Southwestern Medical Center', 'The University of Texas Health Science Center at San Antonio', 'The University of Texas Medical Branch', 'Texas Chiropractic College Foundation Inc', 'University of North Texas Health Science Center', 'The University of Texas Health Science Center at Houston', 'Texas Tech University Health Sciences Center', 'ITT Technical Institute-Murray', 'Bennington College', 'Goddard College', 'Green Mountain College', 'Marlboro College', 'Norwich University', "Saint Michael's College", 'SIT Graduate Institute', 'College of St Joseph', 'Sterling College', 'Vermont Law School', 'Vermont Technical College', 'Eastern Virginia Medical School', 'Radford University', 'Cornish College of the Arts', 'ITT Technical Institute-Seattle', 'ITT Technical Institute-Spokane Valley', 'Bastyr University', 'Trinity Lutheran College', 'University of Puget Sound', 'Whitworth University', 'Ohio Valley University', 'West Virginia School of Osteopathic Medicine', 'Bellin College', 'Beloit College', 'ITT Technical Institute-Greenfield', 'Lawrence University', 'Maranatha Baptist University', 'Marian University', 'Medical College of Wisconsin', 'Milwaukee Institute of Art & Design', 'Silver Lake College of the Holy Family', 'Wisconsin School of Professional Psychology', 'University of Wisconsin-Eau Claire', 'University of Wisconsin-Green Bay', 'University of Wisconsin-La Crosse', 'University of Wisconsin-Oshkosh', 'University of Wisconsin-Parkside', 'Herzing University-Madison', 'University of Wisconsin-Stout', 'University of Wisconsin-Superior', 'University of Wisconsin-Milwaukee', 'University of Wisconsin-Platteville', 'University of Wisconsin-River Falls', 'University of Wisconsin-Stevens Point', 'Universidad Adventista de las Antillas', 'Universidad Central de Bayamon', 'Carlos Albizu University-San Juan', 'Pontifical Catholic University of Puerto Rico-Arecibo', 'Pontifical Catholic University of Puerto Rico-Ponce', 'Colegio Universitario de San Juan', 'Puerto Rico Conservatory of Music', 'Center for Advanced Studies On Puerto Rico and the Caribbean', 'Escuela de Artes Plasticas y Diseno de Puerto Rico', 'Inter American University of Puerto Rico-San German', 'Inter American University of Puerto Rico-Aguadilla', 'Inter American University of Puerto Rico-Arecibo', 'Inter American University of Puerto Rico-Barranquitas', 'Inter American University of Puerto Rico-Metro', 'Inter American University of Puerto Rico-Ponce', 'Inter American University of Puerto Rico-Fajardo', 'Inter American University of Puerto Rico-Guayama', 'Inter American University of Puerto Rico-Bayamon', 'Inter American University of Puerto Rico-School of Law', 'National University College-Bayamon', 'National University College-Arecibo', 'University of Puerto Rico-Arecibo', 'University of Puerto Rico-Bayamon', 'University of Puerto Rico-Humacao', 'University of Puerto Rico-Utuado', 'University of Puerto Rico-Mayaguez', 'University of Puerto Rico-Medical Sciences', 'University of Puerto Rico-Ponce', 'Universidad del Sagrado Corazon', 'Universidad Central Del Caribe', 'Pontifical Catholic University of Puerto Rico-Mayaguez', 'EDP University of Puerto Rico Inc-San Juan', 'ITT Technical Institute-Sylmar', 'ITT Technical Institute-Westminster', "St. John's College", 'Yeshiva and Kollel Harbotzas Torah', 'Antioch University-Los Angeles', 'Antioch University-Santa Barbara', 'Antioch University-New England', 'Antioch University-Seattle', 'Antioch University-Midwest', 'Unification Theological Seminary', 'Austin Graduate School of Theology', 'ITT Technical Insti

## Join Tables

In [186]:
print(list(df.columns))

['id', 'ope8_id', 'ope6_id', 'name', 'city', 'state', 'zip', 'accreditor', 'school_url', 'price_calculator_url', 'under_investigation', 'main_campus', 'branches', 'degrees_awarded.predominant', 'degrees_awarded.highest', 'ownership', 'state_fips', 'region_id', 'locale', 'location.lat', 'location.lon', 'carnegie_basic', 'carnegie_undergrad', 'carnegie_size_setting', 'minority_serving.historically_black', 'minority_serving.predominantly_black', 'minority_serving.annh', 'minority_serving.tribal', 'minority_serving.aanipi', 'minority_serving.hispanic', 'minority_serving.nant', 'men_only', 'women_only', 'religious_affiliation', 'admission_rate.overall', 'admission_rate.by_ope_id', 'sat_scores.25th_percentile.critical_reading', 'sat_scores.75th_percentile.critical_reading', 'sat_scores.25th_percentile.math', 'sat_scores.75th_percentile.math', 'sat_scores.25th_percentile.writing', 'sat_scores.75th_percentile.writing', 'sat_scores.midpoint.critical_reading', 'sat_scores.midpoint.math', 'sat_scores.midpoint.writing', 'act_scores.25th_percentile.cumulative', 'act_scores.75th_percentile.cumulative', 'act_scores.25th_percentile.english', 'act_scores.75th_percentile.english', 'act_scores.25th_percentile.math', 'act_scores.75th_percentile.math', 'act_scores.25th_percentile.writing', 'act_scores.75th_percentile.writing', 'act_scores.midpoint.cumulative', 'act_scores.midpoint.english', 'act_scores.midpoint.math', 'act_scores.midpoint.writing', 'sat_scores.average.overall', 'sat_scores.average.by_ope_id', 'program_percentage.agriculture', 'program_percentage.resources', 'program_percentage.architecture', 'program_percentage.ethnic_cultural_gender', 'program_percentage.communication', 'program_percentage.communications_technology', 'program_percentage.computer', 'program_percentage.personal_culinary', 'program_percentage.education', 'program_percentage.engineering', 'program_percentage.engineering_technology', 'program_percentage.language', 'program_percentage.family_consumer_science', 'program_percentage.legal', 'program_percentage.english', 'program_percentage.humanities', 'program_percentage.library', 'program_percentage.biological', 'program_percentage.mathematics', 'program_percentage.military', 'program_percentage.multidiscipline', 'program_percentage.parks_recreation_fitness', 'program_percentage.philosophy_religious', 'program_percentage.theology_religious_vocation', 'program_percentage.physical_science', 'program_percentage.science_technology', 'program_percentage.psychology', 'program_percentage.security_law_enforcement', 'program_percentage.public_administration_social_service', 'program_percentage.social_science', 'program_percentage.construction', 'program_percentage.mechanic_repair_technology', 'program_percentage.precision_production', 'program_percentage.transportation', 'program_percentage.visual_performing', 'program_percentage.health', 'program_percentage.business_marketing', 'program_percentage.history', 'program.certificate_lt_1_yr.agriculture', 'program.certificate_lt_2_yr.agriculture', 'program.assoc.agriculture', 'program.certificate_lt_4_yr.agriculture', 'program.bachelors.agriculture', 'program.certificate_lt_1_yr.resources', 'program.certificate_lt_2_yr.resources', 'program.assoc.resources', 'program.certificate_lt_4_yr.resources', 'program.bachelors.resources', 'program.certificate_lt_1_yr.architecture', 'program.certificate_lt_2_yr.architecture', 'program.assoc.architecture', 'program.certificate_lt_4_yr.architecture', 'program.bachelors.architecture', 'program.certificate_lt_1_yr.ethnic_cultural_gender', 'program.certificate_lt_2_yr.ethnic_cultural_gender', 'program.assoc.ethnic_cultural_gender', 'program.certificate_lt_4_yr.ethnic_cultural_gender', 'program.bachelors.ethnic_cultural_gender', 'program.certificate_lt_1_yr.communication', 'program.certificate_lt_2_yr.communication', 'program.assoc.communication', 'program.certificate_lt_4_yr.communication', 'program.bachelors.communication', 'program.certificate_lt_1_yr.communications_technology', 'program.certificate_lt_2_yr.communications_technology', 'program.assoc.communications_technology', 'program.certificate_lt_4_yr.communications_technology', 'program.bachelors.communications_technology', 'program.certificate_lt_1_yr.computer', 'program.certificate_lt_2_yr.computer', 'program.assoc.computer', 'program.certificate_lt_4_yr.computer', 'program.bachelors.computer', 'program.certificate_lt_1_yr.personal_culinary', 'program.certificate_lt_2_yr.personal_culinary', 'program.assoc.personal_culinary', 'program.certificate_lt_4_yr.personal_culinary', 'program.bachelors.personal_culinary', 'program.certificate_lt_1_yr.education', 'program.certificate_lt_2_yr.education', 'program.assoc.education', 'program.certificate_lt_4_yr.education', 'program.bachelors.education', 'program.certificate_lt_1_yr.engineering', 'program.certificate_lt_2_yr.engineering', 'program.assoc.engineering', 'program.certificate_lt_4_yr.engineering', 'program.bachelors.engineering', 'program.certificate_lt_1_yr.engineering_technology', 'program.certificate_lt_2_yr.engineering_technology', 'program.assoc.engineering_technology', 'program.certificate_lt_4_yr.engineering_technology', 'program.bachelors.engineering_technology', 'program.certificate_lt_1_yr.language', 'program.certificate_lt_2_yr.language', 'program.assoc.language', 'program.certificate_lt_4_yr.language', 'program.bachelors.language', 'program.certificate_lt_1_yr.family_consumer_science', 'program.certificate_lt_2_yr.family_consumer_science', 'program.assoc.family_consumer_science', 'program.certificate_lt_4_yr.family_consumer_science', 'program.bachelors.family_consumer_science', 'program.certificate_lt_1_yr.legal', 'program.certificate_lt_2_yr.legal', 'program.assoc.legal', 'program.certificate_lt_4_yr.legal', 'program.bachelors.legal', 'program.certificate_lt_1_yr.english', 'program.certificate_lt_2_yr.english', 'program.assoc.english', 'program.certificate_lt_4_yr.english', 'program.bachelors.english', 'program.certificate_lt_1_yr.humanities', 'program.certificate_lt_2_yr.humanities', 'program.assoc.humanities', 'program.certificate_lt_4_yr.humanities', 'program.bachelors.humanities', 'program.certificate_lt_1_yr.library', 'program.certificate_lt_2_yr.library', 'program.assoc.library', 'program.certificate_lt_4_yr.library', 'program.bachelors.library', 'program.certificate_lt_1_yr.biological', 'program.certificate_lt_2_yr.biological', 'program.assoc.biological', 'program.certificate_lt_4_yr.biological', 'program.bachelors.biological', 'program.certificate_lt_1_yr.mathematics', 'program.certificate_lt_2_yr.mathematics', 'program.assoc.mathematics', 'program.certificate_lt_4_yr.mathematics', 'program.bachelors.mathematics', 'program.certificate_lt_1_yr.military', 'program.certificate_lt_2_yr.military', 'program.assoc.military', 'program.certificate_lt_4_yr.military', 'program.bachelors.military', 'program.certificate_lt_1_yr.multidiscipline', 'program.certificate_lt_2_yr.multidiscipline', 'program.assoc.multidiscipline', 'program.certificate_lt_4_yr.multidiscipline', 'program.bachelors.multidiscipline', 'program.certificate_lt_1_yr.parks_recreation_fitness', 'program.certificate_lt_2_yr.parks_recreation_fitness', 'program.assoc.parks_recreation_fitness', 'program.certificate_lt_4_yr.parks_recreation_fitness', 'program.bachelors.parks_recreation_fitness', 'program.certificate_lt_1_yr.philosophy_religious', 'program.certificate_lt_2_yr.philosophy_religious', 'program.assoc.philosophy_religious', 'program.certificate_lt_4_yr.philosophy_religious', 'program.bachelors.philosophy_religious', 'program.certificate_lt_1_yr.theology_religious_vocation', 'program.certificate_lt_2_yr.theology_religious_vocation', 'program.assoc.theology_religious_vocation', 'program.certificate_lt_4_yr.theology_religious_vocation', 'program.bachelors.theology_religious_vocation', 'program.certificate_lt_1_yr.physical_science', 'program.certificate_lt_2_yr.physical_science', 'program.assoc.physical_science', 'program.certificate_lt_4_yr.physical_science', 'program.bachelors.physical_science', 'program.certificate_lt_1_yr.science_technology', 'program.certificate_lt_2_yr.science_technology', 'program.assoc.science_technology', 'program.certificate_lt_4_yr.science_technology', 'program.bachelors.science_technology', 'program.certificate_lt_1_yr.psychology', 'program.certificate_lt_2_yr.psychology', 'program.assoc.psychology', 'program.certificate_lt_4_yr.psychology', 'program.bachelors.psychology', 'program.certificate_lt_1_yr.security_law_enforcement', 'program.certificate_lt_2_yr.security_law_enforcement', 'program.assoc.security_law_enforcement', 'program.certificate_lt_4_yr.security_law_enforcement', 'program.bachelors.security_law_enforcement', 'program.certificate_lt_1_yr.public_administration_social_service', 'program.certificate_lt_2_yr.public_administration_social_service', 'program.assoc.public_administration_social_service', 'program.certificate_lt_4_yr.public_administration_social_service', 'program.bachelors.public_administration_social_service', 'program.certificate_lt_1_yr.social_science', 'program.certificate_lt_2_yr.social_science', 'program.assoc.social_science', 'program.certificate_lt_4_yr.social_science', 'program.bachelors.social_science', 'program.certificate_lt_1_yr.construction', 'program.certificate_lt_2_yr.construction', 'program.assoc.construction', 'program.certificate_lt_4_yr.construction', 'program.bachelors.construction', 'program.certificate_lt_1_yr.mechanic_repair_technology', 'program.certificate_lt_2_yr.mechanic_repair_technology', 'program.assoc.mechanic_repair_technology', 'program.certificate_lt_4_yr.mechanic_repair_technology', 'program.bachelors.mechanic_repair_technology', 'program.certificate_lt_1_yr.precision_production', 'program.certificate_lt_2_yr.precision_production', 'program.assoc.precision_production', 'program.certificate_lt_4_yr.precision_production', 'program.bachelors.precision_production', 'program.certificate_lt_1_yr.transportation', 'program.certificate_lt_2_yr.transportation', 'program.assoc.transportation', 'program.certificate_lt_4_yr.transportation', 'program.bachelors.transportation', 'program.certificate_lt_1_yr.visual_performing', 'program.certificate_lt_2_yr.visual_performing', 'program.assoc.visual_performing', 'program.certificate_lt_4_yr.visual_performing', 'program.bachelors.visual_performing', 'program.certificate_lt_1_yr.health', 'program.certificate_lt_2_yr.health', 'program.assoc.health', 'program.certificate_lt_4_yr.health', 'program.bachelors.health', 'program.certificate_lt_1_yr.business_marketing', 'program.certificate_lt_2_yr.business_marketing', 'program.assoc.business_marketing', 'program.certificate_lt_4_yr.business_marketing', 'program.bachelors.business_marketing', 'program.certificate_lt_1_yr.history', 'program.certificate_lt_2_yr.history', 'program.assoc.history', 'program.certificate_lt_4_yr.history', 'program.bachelors.history', 'online_only', 'size', 'demographics.race_ethnicity.white', 'demographics.race_ethnicity.black', 'demographics.race_ethnicity.hispanic', 'demographics.race_ethnicity.asian', 'demographics.race_ethnicity.aian', 'demographics.race_ethnicity.nhpi', 'demographics.race_ethnicity.two_or_more', 'demographics.race_ethnicity.non_resident_alien', 'demographics.race_ethnicity.unknown', 'part_time_share', 'operating', 'avg_net_price.public', 'avg_net_price.private', 'net_price.public.by_income_level.0-30000', 'net_price.public.by_income_level.30001-48000', 'net_price.public.by_income_level.48001-75000', 'net_price.public.by_income_level.75001-110000', 'net_price.public.by_income_level.110001-plus', 'net_price.private.by_income_level.0-30000', 'net_price.private.by_income_level.30001-48000', 'net_price.private.by_income_level.48001-75000', 'net_price.private.by_income_level.75001-110000', 'net_price.private.by_income_level.110001-plus', 'net_price.public.by_income_level.0-48000', 'net_price.private.by_income_level.0-48000', 'net_price.public.by_income_level.30001-75000', 'net_price.private.by_income_level.30001-75000', 'net_price.public.by_income_level.75000-plus', 'net_price.private.by_income_level.75000-plus', 'title_iv.public.all', 'title_iv.private.all', 'title_iv.public.by_income_level.0-30000', 'title_iv.public.by_income_level.30001-48000', 'title_iv.public.by_income_level.48001-75000', 'title_iv.public.by_income_level.75001-110000', 'title_iv.public.by_income_level.110001-plus', 'title_iv.private.by_income_level.0-30000', 'title_iv.private.by_income_level.30001-48000', 'title_iv.private.by_income_level.48001-75000', 'title_iv.private.by_income_level.75001-110000', 'title_iv.private.by_income_level.110001-plus', 'attendance.academic_year', 'attendance.program_year', 'tuition.in_state', 'tuition.out_of_state', 'tuition.program_year', 'tuition_revenue_per_fte', 'instructional_expenditure_per_fte', 'faculty_salary', 'ft_faculty_rate', 'pell_grant_rate', 'completion_rate_4yr_150nt', 'completion_rate_less_than_4yr_150nt', 'completion_rate_4yr_150nt_pooled', 'completion_rate_less_than_4yr_150nt_pooled', 'pooled_yrs_used', 'share_first.time_full.time', 'completion_cohort_4yr_150nt', 'completion_cohort_less_than_4yr_150nt', 'completion_cohort_4yr_150nt_pooled', 'completion_cohort_less_than_4yr_150nt_pooled', 'completion_rate_4yr_150_white', 'completion_rate_4yr_150_black', 'completion_rate_4yr_150_hispanic', 'completion_rate_4yr_150_asian', 'completion_rate_4yr_150_aian', 'completion_rate_4yr_150_nhpi', 'completion_rate_4yr_150_2ormore', 'completion_rate_4yr_150_nonresident.alien', 'completion_rate_4yr_150_race.unknown', 'completion_rate_l4yr_150_white', 'completion_rate_l4yr_150_black', 'completion_rate_l4yr_150_hispanic', 'completion_rate_l4yr_150_asian', 'completion_rate_l4yr_150_aian', 'completion_rate_l4yr_150_nhpi', 'completion_rate_l4yr_150_2ormore', 'completion_rate_l4yr_150_nonresident.alien', 'completion_rate_l4yr_150_race.unknown', 'C200_4', 'C200_L4', 'D200_4', 'D200_L4', 'retention_rate.four_year.full_time', 'retention_rate.lt_four_year.full_time', 'retention_rate.four_year.part_time', 'retention_rate.lt_four_year.part_time', 'C200_4_POOLED', 'C200_L4_POOLED', 'POOLYRS200', 'D200_4_POOLED', 'D200_L4_POOLED', 'federal_loan_rate', 'share_25_older', '3_yr_default_rate', 'repayment_cohort.3_year_declining_balance', '3_yr_repayment.completers_rate', '3_yr_repayment.noncompleters_rate', '3_yr_repayment.income.0_30000', '3_yr_repayment.income.30000_75000', '3_yr_repayment.income.greater_than_75000', '3_yr_repayment.dependent_students_rate', '3_yr_repayment.independent_students_rate', '3_yr_repayment.pell_grant_rate', '3_yr_repayment.no_pell_grant_rate', '3_yr_repayment.female_students_rate', '3_yr_repayment.male_students_rate', '3_yr_repayment.first_generation_students_rate', '3_yr_repayment.non_first_generation_students_rate', 'repayment_cohort.5_year_declining_balance', '5_yr_repayment.completers_rate', '5_yr_repayment.noncompleters_rate', '5_yr_repayment.income.0_30000', '5_yr_repayment.income.30000_75000', '5_yr_repayment.income.greater_than_75000', '5_yr_repayment.dependent_students_rate', '5_yr_repayment.independent_students_rate', '5_yr_repayment.pell_grant_rate', '5_yr_repayment.no_pell_grant_rate', '5_yr_repayment.female_students_rate', '5_yr_repayment.male_students_rate', '5_yr_repayment.first_generation_students_rate', '5_yr_repayment.non_first_generation_students_rate', 'repayment_cohort.7_year_declining_balance', '7_yr_repayment.completers_rate', '7_yr_repayment.noncompleters_rate', '7_yr_repayment.income.0_30000', '7_yr_repayment.income.30000_75000', '7_yr_repayment.income.greater_than_75000', '7_yr_repayment.dependent_students_rate', '7_yr_repayment.independent_students_rate', '7_yr_repayment.pell_grant_rate', '7_yr_repayment.no_pell_grant_rate', '7_yr_repayment.female_students_rate', '7_yr_repayment.male_students_rate', '7_yr_repayment.first_generation_students_rate', '7_yr_repayment.non_first_generation_students_rate', 'share_lowincome.0_30000', 'share_independent_students', 'share_dependent_lowincome.0_300000', 'share_independent_lowincome.0_30000', 'share_firstgeneration', 'share_middleincome.30001_48000', 'share_middleincome.48001_75000', 'share_highincome.75001_110000', 'share_highincome.110001plus', 'share_dependent_middleincome.300001_48000', 'share_dependent_middleincome.48001_75000', 'share_dependent_highincome.75001_110000', 'share_dependent_highincome.110001plus', 'share_independent_middleincome.30001_48000', 'share_independent_middleincome.48001_75000', 'share_independent_highincome.75001_110000', 'share_independent_highincome.110001plus', 'share_firstgeneration_parents.middleschool', 'share_firstgeneration_parents.highschool', 'share_firstgeneration_parents.somecollege', 'fafsa_sent.2_college_allyrs', 'fafsa_sent.3_college_allyrs', 'fafsa_sent.4_college_allyrs', 'fafsa_sent.5plus_college_allyrs', 'avg_dependent_income.2014dollars', 'avg_independent_income.2014dollars', 'loan_principal', 'median_debt.completers.overall', 'median_debt.noncompleters', 'median_debt.income.0_30000', 'median_debt.income.30001_75000', 'median_debt.income.greater_than_75000', 'median_debt.dependent_students', 'median_debt.independent_students', 'median_debt.pell_grant', 'median_debt.no_pell_grant', 'median_debt.female_students', 'median_debt.male_students', 'median_debt.first_generation_students', 'median_debt.non_first_generation_students', 'median_debt.number.overall', 'median_debt.number.completers', 'median_debt.number.noncompleters', 'median_debt.number.income.0_30000', 'median_debt.number.income.30001_75000', 'median_debt.number.income.greater_than_75000', 'median_debt.number.dependent_students', 'median_debt.number.independent_students', 'median_debt.number.pell_grant', 'median_debt.number.no_pell_grant', 'median_debt.number.female_students', 'median_debt.number.male_students', 'median_debt.number.first_generation_students', 'median_debt.number.non_first_generation_students', 'median_debt.completers.monthly_payments', 'cumulative_debt.number', 'cumulative_debt.90th_percentile', 'cumulative_debt.75th_percentile', 'cumulative_debt.25th_percentile', 'cumulative_debt.10th_percentile', 'family_income.overall', 'family_income.dependent_students', 'family_income.independent_students', 'valid_dependency_status', 'parents_education_level', 'FAFSA_applications', '3_yr_repayment.overall', '3_yr_repayment.completers', '3_yr_repayment.noncompleters', '3_yr_repayment.low_income', '3_yr_repayment.middle_income', '3_yr_repayment.high_income', '3_yr_repayment.dependent_students', '3_yr_repayment.independent_students', '3_yr_repayment.pell_grant', '3_yr_repayment.no_pell_grant', '3_yr_repayment.female_students', '3_yr_repayment.male_students', '3_yr_repayment.first_generation_students', '3_yr_repayment.non_first_generation_students', '5_yr_repayment.overall', '5_yr_repayment.completers', '5_yr_repayment.noncompleters', '5_yr_repayment.low_income', '5_yr_repayment.middle_income', '5_yr_repayment.high_income', '5_yr_repayment.dependent_students', '5_yr_repayment.independent_students', '5_yr_repayment.pell_grant', '5_yr_repayment.no_pell_grant', '5_yr_repayment.female_students', '5_yr_repayment.male_students', '5_yr_repayment.first_generation_students', '5_yr_repayment.non_first_generation_students', '7_yr_repayment.overall', '7_yr_repayment.completers', '7_yr_repayment.noncompleters', '7_yr_repayment.low_income', '7_yr_repayment.middle_income', '7_yr_repayment.high_income', '7_yr_repayment.dependent_students', '7_yr_repayment.independent_students', '7_yr_repayment.pell_grant', '7_yr_repayment.no_pell_grant', '7_yr_repayment.female_students', '7_yr_repayment.male_students', '7_yr_repayment.first_generation_students', '7_yr_repayment.non_first_generation_students', 'students_with_any_loan', 'students_with_pell_grant', 'demographics.age_entry', 'demographics.female_share', 'demographics.married', 'demographics.dependent', 'demographics.veteran', 'demographics.f

In [101]:
print(len(df[df['open_admissions_policy']!=1]))

3165

In [198]:
main_df.accreditor.value_counts()

North Central Association of Colleges and Schools The Higher Learning Commission                  562
Southern Association of Colleges and Schools Commission on Colleges                               418
Middle States Commission on Higher Education                                                      387
New England Association of Schools and Colleges Commission on Institutions of Higher Education    156
Western Association of Schools and Colleges Senior Colleges and University Commission             139
Northwest Commission on Colleges and Universities                                                  75
American Bar Association                                                                           18
Transnational Association of Christian Colleges and Schools                                        14
Accrediting Commission of Career Schools and Colleges                                              11
Accrediting Council for Independent Colleges and Schools                                            8
National Association of Schools of Arts and Design                                                  3
National Association of Schools of Theatre                                                          2
National Association of Schools of Music                                                            2
New York State Board of Regents and the Commissioner of Education                                   2
Association of Institutions of Jewish Studies                                                       2
American Podiatric Medical Association                                                              1
Midwifery Education Accreditation Council                                                           1
American Osteopathic Association                                                                    1
Accrediting Bureau of Health Education Schools                                                      1
Name: accreditor, dtype: int64

In [ ]:
Accrediting Commission for Acupuncture and Oriental Medicine
Accrediting Council for Continuing Education & Training
Commission on Accrediting of the Association of Theological Schools
Association of Advanced Rabbinical and Talmudic Schools
Association for Bibical Higher Educaiton

## Clean Columns of Interest From Overall Data

+ ACT Scores
+ SAT Scores
+ HBCU
+ Diversity
+ Net Price
+ Gender Ratio
+ Location
+ Locale
+ Name
+ Acceptance Rate
+ Median Salary Post-Grad
+ LAC Rank
+ Univ Rank
+ Enrollment
+ NCAA Ranking
+ Type
+ Univ Description

# Final Drops

# Read into SQL

In [208]:
import psycopg2 as pg
import pandas.io.sql
from sqlalchemy import create_engine
import pandas.io.sql as pd_sql

In [209]:
sql_engine = create_engine('postgresql://ubuntu:ubuntu@18.222.229.28:5432/colleges')
sql_db = pandas.io.sql.SQLDatabase(sql_engine)

In [212]:
df.head(1).to_sql('main_df', sql_engine, if_exists = 'replace')

In [216]:
income_df.head(1)#.to_sql('income_df', sql_engine, if_exists = 'replace')

,School Type,Degree Type,School Sector,Early Career Pay,Mid-Career Pay,% High Meaning,% STEM Degrees,name
0,"Engineering, Liberal Arts School, Private School",NaN,Private not-for-profit,"$81,000","$155,800",58%,85%,Harvey Mudd College

In [ ]:
income.rename({% High Meaning: })

In [218]:
lac_ranks.head(1).to_sql('lac_ranks', sql_engine, if_exists = 'replace')

In [ ]:
univ_ranks.head.to_sql('univ_ranks', sql_engine, if_exists = 'replace')

In [220]:
# df.to_sql('main_df', sql_engine, if_exists = 'replace', chunksize=500)
# income_df.to_sql('income_df', sql_engine, if_exists = 'replace')
lac_ranks.to_sql('lac_ranks', sql_engine, if_exists = 'replace')
univ_ranks.to_sql('univ_ranks', sql_engine, if_exists = 'replace')
ncaa.to_sql('ncaa', sql_engine, if_exists = 'replace')

In [207]:
connection_args  = {
    'host': '18.222.229.28', 
    'user': 'ubuntu',
    'dbname': 'colleges',
    'port': 5432
}

connection = pg.connect(**connection_args)

# Drop Rows

# Impute Information

# Drop Columns

# Join Tables

In [ ]:
df_names=['income_df','lac_ranks', 'univ_ranks', 'ncaa']

query = """
    SELECT *
    FROM main_df
    LEFT JOIN f'{data for name in df_names}' ON main_df.name=f'{data for data in df_names}.name
    ;
"""

final_df=pd_sql.read_sql(query, connection)

In [ ]:
final_df.head()

# Pull Columns of Interest

In [ ]:
columnst_query = """
    SELECT 
    FROM final_df
    ;
"""