In [ ]:
import pandas as pd

# Read All Tables

In [ ]:
df=pd.read_csv('seperate_datasets/main_dataset.csv')
income_df=pd.read_csv('seperate_datasets/income.csv')
lac_ranks=pd.read_csv('seperate_datasets/lac_ranking.csv')
univ_ranks=pd.read_csv('seperate_datasets/univ_rankings.csv')
ncaa=pd.read_csv('seperate_datasets/ncaa.csv')

In [ ]:
df=df.drop('Unnamed: 0', 1)
income_df=income_df.drop('Unnamed: 0', 1)
lac_ranks=lac_ranks.drop('Unnamed: 0', 1)
lac_ranks=lac_ranks.drop('lac', 1)
lac_ranks=lac_ranks.rename(columns={'rank':'rank_lac'})
univ_ranks=univ_ranks.drop('Unnamed: 0', 1)
ncaa=ncaa.drop('Unnamed: 0', 1)

# Drop Rows= Move to SQL

## Dropping Associates Degrees and School with Open Admissions Policy
1. Community Colleges
2. Schools that offer Associates Degrees
3. Technical Schools

In [ ]:
main_df=main_df[main_df['carnegie_basic']>=15]

In [ ]:
main_df=main_df[main_df['carnegie_basic']<=23]

In [ ]:
main_df=main_df[main_df['open_admissions_policy']!=1]

In [ ]:
main_df=main_df[main_df['open_admissions_policy']!=3]

In [ ]:
len(main_df)

# Clean Columns of Interest Imputing with Overall Data

+ ACT Scores
+ SAT Scores
+ HBCU
+ Diversity
+ Net Price
+ Gender Ratio
+ Location
+ Locale
+ Name
+ Acceptance Rate
+ Median Salary Post-Grad
+ LAC Rank
+ Univ Rank
+ Enrollment
+ NCAA Ranking
+ Type
+ Univ Description
+ Size

## Checking Number of Nulls In Columns of Interest
Using column dropping schema in next cells

In [ ]:
reduced_main_df.isnull().sum()

In [ ]:
reduced_main_df=reduced_main_df[reduced_main_df['demographics.women'].notnull()]

In [ ]:
reduced_main_df.isnull().sum()

## Cleaning Net Price- Public

## Cleaning Net Price- Private

## Cleaning SAT Score

### Math

### Critical Reading

### Writing

### Cleaning ACT Score

### Admssion Rate

### Size

# Drop Columns

Ran this twice. First time to see how many null values are in the columns of interest before cleaning and second time to finalize dataset.

Chose to do this in pandas as opposed to SQL in case I'd want to return and add a column.

## Getting Desired Column Names into List

In [ ]:
count=0
names=[]
for column in list(main_df.columns):
    if 'net_price' in column or 'act_scores.midpoint' in column or 'sat_scores.midpoint' in column or 'program_precentage' in column  or 'name' in column  or 'minority_serving.historically_black' in column or 'location' in column or 'demographics' in column:
        names.append(column)
        count+=1

In [ ]:
names.remove('avg_net_price.public')
names.remove('avg_net_price.private')
names.remove('demographics.age_entry')
names.remove('demographics.female_share')
names.remove('demographics.married')
names.remove('demographics.dependent')
names.remove('demographics.veteran')
names.remove('demographics.first_generation')
names.remove('demographics.avg_family_income')
names.remove('demographics.median_family_income')
names.remove('demographics.avg_family_income_independents')
names.remove('demographics.race_ethnicity.hispanic')
names.remove('demographics.race_ethnicity.asian')
names.remove('demographics.race_ethnicity.aian')
names.remove('demographics.race_ethnicity.nhpi')
names.remove('demographics.race_ethnicity.two_or_more')
names.remove('demographics.race_ethnicity.non_resident_alien')
names.remove('demographics.race_ethnicity.unknown')
names.remove('demographics.race_ethnicity.black')
names.remove('act_scores.midpoint.english')
names.remove('act_scores.midpoint.math')
names.remove('act_scores.midpoint.writing')
names.remove('demographics.men')

In [ ]:
names.append('locale')
names.append('admission_rate.overall')
names.append('size')
names.append('early_pay')
names.append('sector')
names.append('school_info')
names.append('percent_stem')
names.append('rank_lac')
names.append('Rank')
names.append('Description')
names.append('division')

## Dropping Other Columns

In [ ]:
reduced_main_df=main_df[names]
len(reduced_main_df.columns)

In [ ]:
len(reduced_main_df)

## Double Check Nulls

In [ ]:
reduced_main_df.isnull().sum()

# All Good= Read into Final CSV

In [ ]:
income_df

# Reference

In [ ]:
univ_ranks.head()
'''
drop:
name
location
tuition and fees
in state
enrollment
'''


lac_ranks.head()
'''
drop:
enrollment
name
city
state
base fees
in-state

'''


income_df.head()
'''
drop:
degree type
sector
name
state
city

'''



ncaa.head()
'''
drop:
Conference
Nickname
name
State
City

'''

In [ ]:
scores= ['sat_scores.midpoint.critical_reading', 'sat_scores.midpoint.math',
        'sat_scores.midpoint.writing', 'act_scores.midpoint.cumulative']

In [ ]:
main_df[~main_df[scores].any(axis=1)][['carnegie_basic','name']]