In [83]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os
import re

# Median Income

In [84]:
income='https://www.payscale.com/college-salary-report/bachelors?page=101'

In [85]:
chromedriver = "/Applications/chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver

In [86]:
driver =  webdriver.Chrome(chromedriver)
driver.get(income)
time.sleep(1);

In [87]:
full_list = driver.find_element_by_link_text('See Full List')
full_list.click()
time.sleep(10);

In [88]:
table=driver.find_element_by_class_name('table')

In [89]:
table_html=table.get_attribute('innerHTML')

In [90]:
rank=pd.read_html(table_html)

In [91]:
def isodd(n):
    if n%2==0:
        return False
    return True

In [92]:
df_income=rank[1]

In [93]:
for i in range(2,len(rank)):
    if isodd(i):
        df_income=df_income.merge(rank[i], on=0)

In [94]:
df_income.head()

,0,1_x,1_y,1_x,1_y,1_x,1_y,1_x,1_y,1_x,...,1_x,1_y,1_x,1_y,1_x,1_y,1_x,1_y,1_x,1_y
0,School Type,"Engineering, Liberal Arts School, Private School","Ivy League, Private School, Research Universit...","Engineering, Private School, Research University",State School,"Liberal Arts School, Sober School, For Sports ...","Engineering, Liberal Arts School, Sober School...","Engineering, Private School, Research University","Business, Private School","Ivy League, Private School, Research Universit...",...,"Private School, Religious",Private School,"Private School, Religious","Private School, Religious","Private School, Religious","Liberal Arts School, Private School, Religious","Liberal Arts School, Private School, Religious","Private School, Religious","For Sports Fans, State School","Private School, Religious"
1,Degree Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,School Sector,Private not-for-profit,Private not-for-profit,Private not-for-profit,Public,Public,Public,Private not-for-profit,Private not-for-profit,Private not-for-profit,...,Private not-for-profit,Private not-for-profit,Private not-for-profit,Private not-for-profit,Private not-for-profit,Private not-for-profit,Private not-for-profit,Private not-for-profit,Public,Private not-for-profit
3,Early Career Pay,"$81,000","$69,800","$81,500","$71,600","$75,100","$75,000","$78,800","$66,600","$69,200",...,"$34,100","$35,600","$35,500","$33,700","$34,100","$35,100","$34,700","$36,600","$33,400","$33,300"
4,Mid-Career Pay,"$155,800","$147,800","$147,000","$145,100","$144,300","$143,800","$142,500","$141,700","$140,700",...,"$53,300","$52,700","$52,100","$51,700","$51,600","$51,500","$51,300","$51,200","$51,000","$49,800"

In [95]:
df_income=df_income.transpose()
df_income.columns = df_income.iloc[0]

In [96]:
df_income=df_income.drop(0)
df_income.head()

,School Type,Degree Type,School Sector,Early Career Pay,Mid-Career Pay,% High Meaning,% STEM Degrees
1_x,"Engineering, Liberal Arts School, Private School",NaN,Private not-for-profit,"$81,000","$155,800",58%,85%
1_y,"Ivy League, Private School, Research Universit...",NaN,Private not-for-profit,"$69,800","$147,800",44%,47%
1_x,"Engineering, Private School, Research University",NaN,Private not-for-profit,"$81,500","$147,000",53%,69%
1_y,State School,NaN,Public,"$71,600","$145,100",52%,35%
1_x,"Liberal Arts School, Sober School, For Sports ...",NaN,Public,"$75,100","$144,300",65%,43%

In [97]:
schools=[]
for i in range(0,len(rank)):
    if not isodd(i):
        schools.append(str(rank[i][1][0]))
df_income['name']=schools
df_income=df_income.reset_index(drop=True)

In [98]:
df_income=df_income.rename(columns={'% High Meaning': 'high_meaning', '% STEM Degrees':'percent_stem',
                  'Early Career Pay': 'early_pay', 'School Type':'school_info', 'School Sector':'sector'})
df_income['percent_stem']=df_income.percent_stem.str.strip('%')
df_income['high_meaning']=df_income.percent_stem.str.strip('%')
df_income['Mid-Career Pay']=df_income['Mid-Career Pay'].str.strip('$').str.replace(',','')
df_income['early_pay']=df_income['early_pay'].str.strip('$').str.replace(',','')
df_income

,school_info,Degree Type,sector,early_pay,Mid-Career Pay,high_meaning,percent_stem,name
0,"Engineering, Liberal Arts School, Private School",NaN,Private not-for-profit,81000,155800,85,85,Harvey Mudd College
1,"Ivy League, Private School, Research Universit...",NaN,Private not-for-profit,69800,147800,47,47,Princeton University
2,"Engineering, Private School, Research University",NaN,Private not-for-profit,81500,147000,69,69,Massachusetts Institute of Technology
3,State School,NaN,Public,71600,145100,35,35,SUNY Maritime College
4,"Liberal Arts School, Sober School, For Sports ...",NaN,Public,75100,144300,43,43,United States Military Academy
5,"Engineering, Liberal Arts School, Sober School...",NaN,Public,75000,143800,60,60,United States Naval Academy
6,"Engineering, Private School, Research University",NaN,Private not-for-profit,78800,142500,97,97,California Institute of Technology
7,"Business, Private School",NaN,Private not-for-profit,66600,141700,0,0,Babson College
8,"Ivy League, Private School, Research Universit...",NaN,Private not-for-profit,69200,140700,19,19,Harvard University
9,"Private School, Research University, For Sport...",NaN,Private not-for-profit,73300,140400,49,49,Stanford University
10,"Ivy League, Private School, Research Universit...",NaN,Private not-for-profit,66300,140300,32,32,Dartmouth College
11,"Liberal Arts School, Private School",NaN,Private not-for-profit,62000,138400,33,33,Williams College
12,"Liberal Arts School, Sober School, For Sports ...",NaN,Public,69400,138300,49,49,United States Air Force Academy
13,"Engineering, Private School",NaN,Private not-for-profit,70800,138200,100,100,Webb Institute
14,Private School,NaN,Private not-for-profit,81800,138100,0,0,Samuel Merritt University
15,"Liberal Arts School, Party School, Private Sch...",NaN,Private not-for-profit,61400,137700,27,27,Colgate University
16,"Engineering, Private School, Research University",NaN,Private not-for-profit,70800,136900,80,80,Stevens Institute of Technology
17,"Engineering, Research University, State School",NaN,Public,71900,136100,94,94,Colorado School of Mines
18,"Engineering, State School",NaN,Public,73400,135900,54,54,United States Merchant Marine Academy
19,"Ivy League, Private School, Research Universit...",NaN,Private not-for-profit,68100,134800,22,22,University of Pennsylvania
20,"Private School, Religious, For Sports Fans",NaN,Private not-for-profit,63800,134500,30,30,Santa Clara University
21,"Private School, Religious, Research University...",NaN,Private not-for-profit,65300,134400,26,26,Duke University
22,"Engineering, Party School, Private School, Res...",NaN,Private not-for-profit,65400,133900,52,52,Lehigh University
23,Private School,NaN,Private not-for-profit,65200,133500,2,2,Albany College of Pharmacy and Health Sciences
24,"Ivy League, Private School, Research Universit...",NaN,Private not-for-profit,66800,132100,23,23,Yale University
25,"Ivy League, Private School, Research Universit...",NaN,Private not-for-profit,63000,132000,39,39,Brown University
26,"Liberal Arts School, Private School",NaN,Private not-for-profit,59700,131700,21,21,Washington and Lee University
27,"Liberal Arts School, Private School",NaN,Private not-for-profit,63500,130800,14,14,Claremont McKenna College
28,"Private School, Research University, For Sport...",NaN,Private not-for-profit,65700,130200,50,50,Rice University
29,"Research University, For Sports Fans, State Sc...",NaN,Public,65400,130100,34,34,University of California-Berkeley
...,...,...,...,...,...,...,...,...
1478,"Private School, Religious",NaN,Private not-for-profit,36400,57700,9,9,Florida Memorial University
1479,"Private School, Religious",NaN,Private not-for-profit,35100,57700,2,2,Wilson College
1480,"Private School, Religious",NaN,Private not-for-profit,35400,57600,37,37,Rust College
1481,"Private School, Religious",NaN,Private not-for-profit,36900,57600,0,0,Trinity Bible College and Graduate School
1482,"Private School, Religious",NaN,Private not-for-profit,35700,57200,21,21,Benedict College
1483,"Liberal Arts School, Private School, Religious",NaN,Private not-for-profit,36200,57100,21,21,Stillman College
1484,"Private School, Religious",NaN,Private not-for-profit,37400,57000,2,2,Saint Mary-of-the-Woods College
1485,"Private School, Religious",NaN,Private not-for-profit,36400,57000,0,0,University of Valley Forge
1486,"Private School, Religious",NaN,Private not-for-profit,38100,56800,2,2,"Bethel University - McKenzie, TN"
1487,State School,NaN,Public,39600,56700,2,2,Northwest Florida State College
1488,Private School,NaN,Private not-for-profit,37700,55800,0,0,Lancaster Bible College
1489,Private School,NaN,Private not-for-profit,37000,55800,3,3,Wheelock College
1490,"Private School, Religious",NaN,Private not-for-profit,35900,55600,4,4,Campbellsville University
1491,"Private School, Religious",NaN,Private not-for-profit,35600,55300,0,0,Ozark Christian College
1492,"Private School, Religious",NaN,Private not-for-profit,37600,55200,12,12,Saint Augustine's University
1493,"Private School, Religious",NaN,Private not-for-profit,34000,54900,13,13,Miles College
1494,"Private School, Religious",NaN,Private not-for-profit,33700,54800,3,3,Lindsey Wilson College
1495,"Private School, Religious",NaN,Private not-for-profit,35700,54300,11,11,Livingstone College
1496,"Private School, Religious",NaN,Private not-for-profit,33500,54200,0,0,Baptist Bible College
1497,"Private School, Religious",NaN,Private not-for-profit,34700,53600,0,0,Martin Luther College
1498,"Private School, Religious",NaN,Private not-for-profit,34100,53300,10,10,Texas College
1499,Private School,NaN,Private not-for-profit,35600,52700,0,0,Pacific Oaks College
1500,"Private School, Religious",NaN,Private not-for-profit,35500,52100,0,0,Nazarene Bible College
1501,"Private School, Religious",NaN,Private not-for-profit,33700,51700,0,0,The Southern Baptist Theological Seminary
1502,"Private School, Religious",NaN,Private not-for-profit,34100,51600,18,18,Morris College
1503,"Liberal Arts School, Private School, Religious",NaN,Private not-for-profit,35100,51500,18,18,Claflin University
1504,"Liberal Arts School, Private School, Religious",NaN,Private not-for-profit,34700,51300,29,29,Philander Smith College
1505,"Private School, Religious",NaN,Private not-for-profit,36600,51200,7,7,Shaw University
1506,"For Sports Fans, State School",NaN,Public,33400,51000,10,10,Mississippi Valley State University
1507,"Private School, Religious",NaN,Private not-for-profit,33300,49800,0,0,Johnson University

# LAC Ranking

In [19]:
lib_arts='https://www.usnews.com/best-colleges/rankings/national-liberal-arts-colleges?_mode=table'

In [20]:
chromedriver = "/Applications/chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver

In [21]:
driver =  webdriver.Chrome(chromedriver)
driver.get(lib_arts)
time.sleep(1);

In [22]:
for i in range(30):
    try:
        load_more = driver.find_element_by_link_text('Load More')
        load_more.click()
    except:
        driver.execute_script("window.scrollBy(0,document.body.scrollHeight)")
        driver.execute_script("window.scrollBy(0,-1250)")

In [23]:
lac=driver.find_element_by_class_name('search-results-view')

In [24]:
lac_html=lac.get_attribute('innerHTML')

In [25]:
lac_ranks=pd.read_html(lac_html)

In [26]:
lac_final=lac_ranks[0]
lac_final.tail()

In [28]:
school_info=[]
for value in lac_final['Name/Rank']:
    try:
        school_info.append(value.replace('in National Liberal Arts Colleges', ''))
    except:
        pass
        school_info.append('na')

In [29]:
school_info2=[]
for value in school_info:
    try:
        a=re.split(',', value)
        a[0] = [a[0].split(' ')]
        b = str(a[0][0][-1])
        a[0] = str(' '.join(a[0][0][:-1]))
        a[1:2]=a[1].split('#')
        a[1:2]=a[1].split(',')
        a.insert(1,b)
        school_info2.append(a)
    except:
        pass

In [30]:
school_info_dict={'name':[], 'city':[], 'state':[], 'rank':[]}

In [31]:
for value in school_info2:
    school_info_dict['name'].append(value[0])
    school_info_dict['city'].append(value[1])
    school_info_dict['state'].append(value[2])
    school_info_dict['rank'].append(value[-1])

In [32]:
school_infodf=pd.DataFrame(school_info_dict)
lac_final=lac_final.dropna(how='all')
lac_final=lac_final.reset_index()
lac_final=lac_final.join(school_infodf)
lac_final=lac_final.drop(columns='Name/Rank')

In [37]:
# lac_final=lac_final.drop(columns=['level_0', 'index'])

In [38]:
fees=lac_final['Tuition and Fees'].str.replace(",", "")
fees=fees.str.replace("$", "")

In [39]:
in_state=[]
tuition=[]
for prices in fees:
    if type(prices)==str:
        if 'out' in prices:
            tuition.append(prices.split('(out-of-state)')[0])
            in_state.append(prices.split('(out-of-state)')[1])
        else:
            tuition.append(prices)
            in_state.append('NaN')
    else:
        in_state.append('NaN')

In [40]:
in_state=pd.Series(in_state)
tuition=pd.Series(tuition)

In [41]:
in_state=in_state.str.strip('(in-state)').str.strip(' ')

In [42]:
tuition=tuition.str.strip(' ')

In [43]:
lac_final['base_fees']=tuition
lac_final['in-state']=in_state

,index,Tuition and Fees,Enrollment,? Test Scores,Compare,name,city,state,rank,base_fees,in-state
0,0,"$53,550",2076.0,NaN,NaN,Williams College,Williamstown,MA,1,53550,NaN
1,1,"$54,310",1849.0,NaN,NaN,Amherst College,Amherst,MA,2,54310,NaN
2,2,"$51,848",1806.0,NaN,NaN,Bowdoin College,Brunswick,ME,3 (tie),51848,NaN
3,3,"$50,822",1543.0,NaN,NaN,Swarthmore College,Swarthmore,PA,3 (tie),50822,NaN
4,4,"$51,148",2347.0,NaN,NaN,Wellesley College,Wellesley,MA,3 (tie),51148,NaN

In [44]:
lac_final=lac_final.drop(columns=['Tuition and Fees', '?  Test Scores', 'Compare'])

In [45]:
lac_final.head()

,index,Enrollment,name,city,state,rank,base_fees,in-state
0,0,2076.0,Williams College,Williamstown,MA,1,53550,NaN
1,1,1849.0,Amherst College,Amherst,MA,2,54310,NaN
2,2,1806.0,Bowdoin College,Brunswick,ME,3 (tie),51848,NaN
3,3,1543.0,Swarthmore College,Swarthmore,PA,3 (tie),50822,NaN
4,4,2347.0,Wellesley College,Wellesley,MA,3 (tie),51148,NaN

In [60]:
lac_final.index[lac_final['name'] == "Wheaton College"].tolist()

[63, 80]

In [61]:
lac_final.iloc[63]

index                      75
Enrollment               2456
name          Wheaton College
city                  Wheaton
state                     IL
rank               63   (tie)
base_fees               35190
in-state                  NaN
Name: 63, dtype: object

In [62]:
lac_final.iloc[80]

index                      96
Enrollment               1651
name          Wheaton College
city                   Norton
state                     MA
rank               76   (tie)
base_fees               45970
in-state                  NaN
Name: 80, dtype: object

In [ ]:
lac_final['name']=lac_final.name.str.strip(" ")

In [72]:
lac_final['rank']=lac_final['rank'].str.strip(' ').str.strip('(tie)').str.strip(' ')

# Read at CSV

In [99]:
df_income.head()

,school_info,Degree Type,sector,early_pay,Mid-Career Pay,high_meaning,percent_stem,name
0,"Engineering, Liberal Arts School, Private School",NaN,Private not-for-profit,81000,155800,85,85,Harvey Mudd College
1,"Ivy League, Private School, Research Universit...",NaN,Private not-for-profit,69800,147800,47,47,Princeton University
2,"Engineering, Private School, Research University",NaN,Private not-for-profit,81500,147000,69,69,Massachusetts Institute of Technology
3,State School,NaN,Public,71600,145100,35,35,SUNY Maritime College
4,"Liberal Arts School, Sober School, For Sports ...",NaN,Public,75100,144300,43,43,United States Military Academy

In [100]:
df_income.to_csv('income.csv')

In [81]:
lac_final['univ']=pd.Series(['lac']*len(rank))
lac_final.head()

,index,Enrollment,name,city,state,rank,base_fees,in-state,lac,univ
0,0,2076.0,Williams College,Williamstown,MA,1,53550,NaN,lac,lac
1,1,1849.0,Amherst College,Amherst,MA,2,54310,NaN,lac,lac
2,2,1806.0,Bowdoin College,Brunswick,ME,3,51848,NaN,lac,lac
3,3,1543.0,Swarthmore College,Swarthmore,PA,3,50822,NaN,lac,lac
4,4,2347.0,Wellesley College,Wellesley,MA,3,51148,NaN,lac,lac

In [82]:
lac_final.to_csv('lac_ranking.csv')